[2015-03-11 02:16] robguthrie opened #1988 "We could really do with a few more basic cukes"
We need cucumber tests around viewing the front marketing page, and signing in though the sign in page.

These are pretty trivial to write but it would be if someone could do that for us

[2015-03-11 13:45] Tekarihoken opened #1990 "Negative update counter bug"
For an unknown reason , I have a thread/discussion with its update counter starting to -1 instead of 0.

The behaviour is very strange : If I have no new update , it show the "update icon with -1 in it", if there is 1 update it do not show any icon, if there is 2 update it show the "update icon with 1 in it" etc...

[2015-03-11 19:35] robguthrie commented on #1990
Uh oh! @Tekarihoken is this on loomio.org or your own instance? If loomio.org, could you give me the discussion id and your user id?

[2015-03-12 04:55] robguthrie opened #1997 "BUG: Discussions appearing multiple times in dashboard!"
![image](https://cloud.githubusercontent.com/assets/486367/6612407/b693dd0c-c8e0-11e4-86ea-0c1201ba0291.png)

Looks like multiple discussion readers are being created at some point! Yikes.

[2015-03-12 09:06] HSalmon commented on #1988
#1998

[2015-03-12 14:17] Tekarihoken commented on #1990
It is on loomio.org, and my user is Tekarihoken (but it seems that other users have the same bug).
The url of the discussion is : https://www.loomio.org/d/a43tX6TJ/refonte-de-l-interface-reseau

[2015-03-12 20:31] #1997 closed

[2015-03-13 21:45] robguthrie opened #2005 "Catch 'email address syntax error' exception and deactivate the user"
Check full details on Airbrake: [#1354284321269197721](https://enspiral.airbrake.io/projects/57882/groups/1354284321269197721)

Backtrace:
[code]

[2015-03-14 05:37] HSalmon commented on #1967
https://github.com/loomio/loomio/pull/2006

[2015-03-16 12:58] #1988 closed

[2015-03-16 20:12] #1967 closed

[2015-03-16 23:46] stadtwald commented on #1939
Sorry for the delayed response.  I can't seem to reproduce this bug anymore.

[2015-03-16 23:46] #1939 closed

[2015-03-17 01:29] robguthrie commented on #1939
whooo hoo

On Tue, 17 Mar 2015 at 12:46 William Demchick <notifications@github.com>
wrote:

[2015-03-19 21:56] HSalmon commented on #1927
Had further confirmation of this bug this morning:

![](https://uploads.intercomcdn.com/i/o/893539/cbff9dc0e8772356716f4880/loomio%2520pictures%2520bug.png)

[2015-03-20 08:39] gentilvirus opened #2025 "markdown not converted into html in rss/atom feeds"
markdown is currently not converted into html in the rss/atom feeds.
technically it is not a problem as markdown is just plain text but i have never seen any feed client that can handle markdown syntax natively this means that each and every client that wants to use the loomio feeds (to display on their web site, to import data in ther application, etc...) should detect, parse and convert markdown

[2015-03-21 16:36] raphaeljolivet commented on #2025
Agree.

Having that would allow better integration of Loomio with other systems / social medias :
IFFFT can plug RSS feed to almost anything.

In the case you fix this, please only keep a single "content" tag, of type HTML :
I guess client might not like handling several content wih different types.

[2015-03-22 19:22] robguthrie commented on #2025
Yep. I agree, it should be converted into html. Feel free to make a pull
request. The method to markdown stuff is fairly simple.

On Sun, 22 Mar 2015 at 05:36 Raphael Jolivet <notifications@github.com>
wrote:

[2015-03-23 17:01] a-pirard opened #2028 "Seems impossible to create an account after Google reject"
I am [trying to] paste my message on request of Dan.
E-mail me if you want a better copy of the "welcome dialog" page by e-mail

-------- Original Message --------
Subject: 	Re: [Tagging] Loomio evaluation
Date: 	Mon, 23 Mar 2015 16:46:00 +0000
From: 	Dan S <danstowell+osm@gmail.com>
Reply-To: 	Tag discussion, strategy and related tools <tagging@openstreetmap.org>
To: 	Tag discussion, strategy and

[2015-03-23 22:05] HSalmon opened #2030 "visiting loom.io domain results in redirect loop error"

[2015-03-23 22:42] robguthrie commented on #2030
Thanks @HSalmon. Fixed now.

[2015-03-23 22:42] #2030 closed

[2015-03-23 23:28] gdpelican commented on #2028
Thanks @a-pirard; I'm going to take a peek at this this morning to see if there's a quick fix.

[2015-03-24 00:24] gdpelican commented on #2028
Hm, after playing with this for a few minutes, I'm not able to reproduce your issue. If you have some more specific repro steps (what does 'Back to Loomio for a new start' mean specifically? Screenshots appreciated!), feel free to post em here or shoot em towards james at loomio dot org.

Thanks!
:palm_tree:

[2015-03-24 03:08] a-pirard commented on #2028
On 2015-03-24 01:24, James Kiesel wrote
      :

      Hm, after playing with this for a few minutes, I'm not able to
        reproduce your issue. If you have some more specific repro steps
        (what does 'Back to Loomio for a new start' mean specifically?
        Screenshots appreciated!), feel free to post em here or shoot em
        towards james at loomio dot org.
      Thanks!

    Hi,

[2015-03-24 03:29] a-pirard commented on #2028
Testing the left pane of the Tour Eiffel.
    Way: Eiffel Tower (5013364)

       Fix wikipedia links

       Edited 3 months ago by Med

       Version #85 · Changeset #27446980

      Tags

            architect
            Stephen Sauvestre;Gustave
              Eiffel;Maurice Koechlin;Émile Nouguier

            building
            yes

            building:colour
            #706550

[2015-03-24 03:34] a-pirard commented on #2028
Well, according to the previous message, this is a Web page that cannot display HTML ;-)

[2015-03-24 08:35] Flaburgan commented on #1927
Hi, Fla from the diaspora* team.

I can confirm that the alt is displayed when Gravatar is blocked (by Ghostery or RequestPolicy for example). Then, the hash comes over the content. A quick solution is
[code]

I tested this with Firefox and it works. I would gladly open a PR if someone points me where the css code is (I searched in ```assets/stylesheet``` but I never contributed to loomio so not s

[2015-03-24 08:53] gdpelican commented on #1927
Thanks @Flaburgan!

Hm.. I guess I'd be not 100% convinced that we're able to change all images everywhere to `display: inline-block` without breaking something, so might require a careful QA. Does it not work to just set the overflow to hidden?

In any case, a wide-swingin' css style like that probably wants to live in `app/stylesheets/unstructured/_main.scss`

PS Go Diaspora :star:!

[2015-03-24 09:01] Flaburgan commented on #1927
I of course meant ```body.discussions.show img``` I didn't check exactly what should be put here, I didn't want to put that on every images, just avatars.

[2015-03-24 20:17] robguthrie commented on #1927
Thanks for the tip Fla!

On Tue, 24 Mar 2015 at 22:01 Fla <notifications@github.com> wrote:

[2015-03-25 00:09] rdbartlett opened #2039 "default group logo broken"
the default group logo (on the group page) is pointing to a resource that doesn't exist:
https://www.loomio.org/images/default-logo-medium.png

[2015-03-25 01:02] mhjb opened #2040 "Motions from muted discussions show up in inbox"

[2015-03-25 01:25] mhjb opened #2041 "Inbox showing discussions where the only new content is content I've created"
![image](https://cloud.githubusercontent.com/assets/1380991/6816641/c06631b2-d2fa-11e4-8abd-2a917d0605f3.png)

[2015-03-25 04:41] robguthrie commented on #2041
That's a discussion thread! Thank you though, duely noted!

On Wed, 25 Mar 2015 at 14:25 mhjb <notifications@github.com> wrote:

[2015-03-25 19:51] mhjb commented on #2041
O yeah, but it's a discussion thread visited from the inbox, where the blue
new content line is above material that I myself just wrote.

On 25 March 2015 at 17:41, Robert Guthrie <notifications@github.com> wrote:

[2015-03-25 21:37] a-pirard commented on #2028
On 2015-03-24 01:24, James Kiesel wrote :

Hi,

First, did you get that "a-pirard" from your system or did you make it
up?  That might be a clue.
I don't see why make screenshots (big images) when copy&paste should
reproduce the screen and does it fairly well.

'Back to Loomio for a new start' means that I go back to
https://www.loomio.org/g/tknueHrw/osm-tagging as requested.
Or anything at https:

[2015-04-01 21:04] mhjb opened #2079 "Opening old email notifications messes with inbox counts & read-to-here line"
E.g. I read the discussion with the proposal "I've helped to connect OS//OS with my networks" and the discussions below it, so they disappeared from my inbox. Then I happened to look at an old notification email from Loomio, and revisit inbox, and the counts look like this:
![image](https://cloud.githubusercontent.com/assets/1380991/6952565/5c64ce96-d91f-11e4-9269-30ec615bc105.png)

[2015-04-01 21:54] robguthrie commented on #2079
AMAZING! There must be a bug ... it's resetting your read counts.

[2015-04-01 21:55] mhjb commented on #2079
Fwiw this has happened since forever

[2015-04-01 22:00] robguthrie commented on #2079
Thanks @mhjb.

[2015-04-01 23:38] #2079 closed

[2015-04-08 20:53] alannallama opened #2094 "Inviting someone already in a group re-notifies them"
If you invite someone to a group who is already a member of that group, the app will notify the user that they have been added. Also the inviter sees a "member added" message. The system should know if that use is already a member of the group and not notify them (which could confuse the user who will think they weren't already in the group previously), and should display "member already in group"

[2015-04-08 20:53] alannaloomio commented on #2094
@HSalmon and I tested this by re-inviting me to the Loomio Community group and I did get a notification.

[2015-04-08 20:59] robguthrie commented on #2094
Great bug report. Thank you!

On Thu, 9 Apr 2015 at 08:53 alannaloomio <notifications@github.com> wrote:

[2015-04-13 00:55] mhjb opened #2105 "Subdomain behaviour for groups a user is not a member of"
As a user who's not a member of a group, or as a logged-out visitor, when I visit a non-public group's subdomain I ought not to see the group's header image & description. Instead I should see a 'You do not have permission to do this.' message — or maybe something even nicer!

[2015-04-20 08:37] mhjb opened #2115 "Error when trying to import contacts from Google"
From ../invitations/new I click 'Google'
Google asks me to choose which account, I do.
I'm Returned to this page: https://www.loomio.org/contacts/gmail/callback?code=4/jaFBrcXjvVTxqot3bVX_7UOidlWZkJ-htkW4gFFhbXo.IpRl_Bo6RBIYgrKXntQAax3U8vKrmQI with:
"We're sorry, but something went wrong.
We've been notified about this issue and we'll take a look at it shortly.
Return to your home page"

[2015-04-22 00:17] niceking opened #2120 "Updating the outcome of a proposal after it is closed"
1. After a proposal had closed and I had published an outcome, a month later I tried to change the outcome of the proposal i made
2. Page refreshed, got a flash message about the outcome being updated, however I scrolled down and the outcome was now empty
3. Repasted in my text and tried to publish the outcome again, I *think* i got a slightly different success message saying that the outcome has

[2015-04-22 09:07] denjello commented on #1990
Apparently this is still happening:

https://www.loomio.org/d/0x8kTUyO/number-of-comments-unread-in-a-discussion-with-negative-number

[2015-04-24 13:29] leoliu1313 opened #2122 "Error when adding contents into server"
Error 1013 Ray ID: 1dc220c8efb111c5 • 2015-04-24 13:24:22 UTC
HTTP hostname and TLS SNI hostname mismatch
What happened?
You've requested an IP address that is part of the CloudFlare network. The request's Host header does not match the request's TLS SNI Host header.
What can I do?
If you are interested in learning more about CloudFlare, please visit our website.
CloudFlare Ray ID: 1dc220c8efb111c

[2015-04-24 13:29] leoliu1313 opened #2123 "Error when adding contents into server"
Error 1013 Ray ID: 1dc220c8efb111c5 • 2015-04-24 13:24:22 UTC
HTTP hostname and TLS SNI hostname mismatch
What happened?
You've requested an IP address that is part of the CloudFlare network. The request's Host header does not match the request's TLS SNI Host header.
What can I do?
If you are interested in learning more about CloudFlare, please visit our website.
CloudFlare Ray ID: 1dc220c8efb111c

[2015-04-24 13:29] #2123 closed

[2015-04-24 14:14] gdpelican commented on #2122
Hey @leoliu1313, can you give us a little more context about this error? Where is it showing up and what are you trying to accomplish?

[2015-04-27 01:17] rdbartlett commented on #1990
Yep just had another report of this from charlie :(

[2015-04-27 01:32] robguthrie commented on #1990
@gdpelican I feel like this might somehow be related to the "discussion was delegated to x but something is nil" bugs where seeing. Sounds like deletion bombing out before cleanup is finished.

[2015-05-06 03:14] #2122 closed

[2015-05-14 22:38] HSalmon opened #2166 "On mobile remember me function does not remember me"

[2015-05-17 20:43] robguthrie commented on #2166
Hi @HSalmon.
Is this bug confirmed? I'm wondering if this Is just when using 3rd party login?

[2015-05-18 22:53] #2105 closed

[2015-05-18 22:55] mhjb opened #2167 "Markdown ruins some ordered lists with nested unordered lists"
![image](https://cloud.githubusercontent.com/assets/1380991/7692237/d901da6e-fe15-11e4-8637-a674f9473013.png)     --->     ![image](https://cloud.githubusercontent.com/assets/1380991/7692208/79bb5f62-fe15-11e4-8f34-6c076611766e.png)

[2015-05-19 00:14] rdbartlett commented on #2167
This is just how Markdown works. I would be sad if we put energy into overwriting Markdown instead of investing in a more accessible rich text editor.

[2015-05-19 01:43] zacharystenger opened #2168 "Broken link on the wiki home page"
The link to the [development process](https://github.com/loomio/loomio/wiki/2-Development-process) in the [Help develop the software](https://github.com/loomio/loomio/wiki#help-develop-the-software) section links to a page that has not been created.  I was wondering if it should link to the [Coding Style Guide Stuff](https://github.com/loomio/loomio/wiki/Coding-Style-Guide-Stuff)?

[2015-05-19 02:07] rdbartlett opened #2169 "Add validation to network membership request"
When I go to submit the network membership request form without filling all the fields correctly, I get an exception instead of a friendly validation error.

@HSalmon do you want to pick this one up? @robguthrie and I can give you any more context you need.

[2015-05-19 02:45] gdpelican commented on #2168
Thanks for the tip @zacharystenger!

Hm, I'm not sure that Coding Style Guide is the right place for that link to go; I'd think we probably want a `CONTRIBUTING.md` file somewhere that outlines the steps for making an open source contribution.

Does this file exist already somewhere @robguthrie? I'm thinking some amalgamation of 'How to clone + cut a branch' + https://github.com/loomio/loomio/wiki

[2015-05-19 06:31] robguthrie commented on #2168
I agree. I want to move most of the core documentation into the source
code, it feels weird to have it just in github.

On Tue, 19 May 2015 at 14:45 James Kiesel <notifications@github.com> wrote:

[2015-05-19 21:40] zacharystenger commented on #2120
I was able to replicate and fix this bug on my development environment.
In the MotionsController, the update_outcome method makes this call
[code]
which passes params that look something like this (scroll to middle to see motion & outcome objects):
[code]
The problem is the outcome object is inside the motion object so I changed this to pass permitted_params.motion instead like it does in the crea

[2015-05-20 00:45] gdpelican commented on #2120
Hey @zacharystenger, thanks for taking a peek at this.

Changing `params: params` to `params: permitted_params.motion` is the way to go here; you'll note that we do it this way throughout the application, including `MotionController#create` and `MotionController#update`, so this seems to have been an oversight.

I'd be super happy to accept a PR for this.

Thanks again! :ribbon:

[2015-05-20 06:57] gdpelican opened #2174 "[Refactor]: Loomio attachments"
Our current attachment system is a little inflexible, and married to S3, which is no good for a system that wants to be distributable.

Here's my current thinking on fixing that:

- :boom: the UploadHelper class; it's married to S3 and is a needlessly complex solution I think.
- add `has_attached_file :upload` to the Attachment class
- Figure out what fiddling needs to be done from there to get at

[2015-05-21 05:15] robguthrie commented on #2174
I was thinking that the attachment model should be used rather than has_attached_file. So a group would

[code]

So we just have one controller where attachments are uploaded, the attachments_controller and it returns an attachment id we can use. Then we will find that we can reuse the upload form code anywhere we like.

Attachments in proposals and discussions would be really easy then.

[2015-05-22 01:42] robguthrie opened #2187 "Mime type/HTTP header for Content Type is not being set on attachment uploads"
Attachments don't seem to catchup the Content Type given by the uploading browser, so attachments when downloaded from amazon have a blank content type and browsers are doing a bad job of guessing how to present them to the users.

[2015-05-23 00:12] robguthrie opened #2188 "Nested lists in markdown are broken for loomio"
* write a list
  * preceed a list item with two spaces
* watch the markdown parser in loomio beta freak out

[2015-05-27 12:47] baschtl commented on #2039
@rdbartlett Is this still the case? When I look at https://www.loomio.org/g/CY61pwAE/llengues-d-arago-catala the default logo shows up.

[2015-05-27 19:39] rdbartlett commented on #2039
Thanks for checking in @baschtl - yep it is still broken for new groups.

[2015-05-28 09:37] baschtl commented on #2039
Ah, I was able to verify this locally. I will look into it.

[2015-05-29 01:11] HSalmon opened #2204 "Proposal closed discussion item doesn't seem to be displaying"

[2015-05-29 03:18] gdpelican commented on #2120
Fixed in #2203

[2015-05-29 03:18] #2120 closed

[2015-06-01 08:00] ahdinosaur opened #2210 "top right of navbar is misaligned in Firefox 38"
on new angular interface.

screenshot:

![wacky-loomio](https://cloud.githubusercontent.com/assets/719605/7908366/68696e4c-0898-11e5-9ecb-5a326514ea84.png)

[2015-06-03 18:25] zacharystenger commented on #2094
I was looking into this issue and have an idea of how to fix it.
In ``InvitationsController#create`` we want to check if any of the users (``@invite_people_form.members_to_add``) are already in the group before we call ``MembershipService#add_users_to_group`` and ``InvitationService#invite_to_group``.  To do this I was thinking of adding a new private method to the ``InvitiationsController`` that

[2015-06-06 21:50] fauno opened #2219 "loomio_pipe :)"
hi! a few months ago i contacted you about using a pipe script to post comments via email, instead of using the gateway... and here it is :)

https://github.com/piratas-ar/loomio_pipe

[2015-06-09 03:50] rdbartlett opened #2222 "No max-width on lists in notification emails"
The email stylesheets specify max-width on most of the content, but ol's and ul's appear to have been overlooked:

![image](https://cloud.githubusercontent.com/assets/970124/8050319/2d81412e-0ebf-11e5-8b0f-226d586e4fde.png)

[2015-06-09 11:16] roipoussiere opened #2224 "Allow several suggestions for a given problem."
I'm just testing loomio and it seems that we can't propose 2 solutions to a given problem.
It should be easier to define if a solution is good if we see the others solutions at the same time.

[2015-06-10 23:46] fauno commented on #2224
:+1:

[2015-06-11 00:12] gdpelican commented on #2224
Hey @roipoussiere; this seems like a topic totally ripe for discussion. We have a public loomio group for feature ideas, which seems like it might be a better place for this than the github issues list: check it out here: https://www.loomio.org/g/GN7EFQTK

Going to close this for now; we'll open it back up if there ends up being some more concrete tasks associated with it.

Thanks! :tangerine:

[2015-06-11 00:12] #2224 closed

[2015-06-16 10:23] TheShiteKnight opened #2241 "Attachment Filenames Not sanitised"
We hit a bug when someone tried to attach an odt document with a '#' in the title.
Got an xml access denied message:
<Error>
<Code>AccessDenied</Code>
<Message>Access Denied</Message>
<RequestId>AEEBAA18D33544B3</RequestId>
<HostId>
2GGt7bqxs18zTR70VoCFyEy6WmbQMU52p95Lx5IH+EyZ9Tz/94gTZUZbDJBvpnGX
</HostId>
</Error>

[2015-06-16 11:28] gdpelican commented on #2241
Thanks for the heads up, @TheShiteKnight. Revamping attachment uploading is on our medium-term roadmap, so we'll be sure to keep this in mind.

[2015-06-16 22:43] robguthrie commented on #1867
closing.. we've decided that anything using a rails counter cache should be considered inaccurate. We have manually built counter caches that are ok.. but these are to be disregarded

[2015-06-16 22:43] #1867 closed

[2015-06-16 22:43] #1856 closed

[2015-06-16 23:38] robguthrie commented on #1595
closing as we cannot reproduce

[2015-06-16 23:38] #1595 closed

[2015-06-19 20:35] pierreozoux commented on #1476
Hey, sorry to bother here, can't find dockerfile anywhere :/ If you can help me out figure where it is, I would be glad!

Thanks!

[2015-06-21 22:12] robguthrie commented on #1476
Hi @pierreozoux we have installation instructions here: https://github.com/loomio/loomio/wiki

Right now the recommended installation method is to use Dokku-alt, a docker based mini heroku system. We may develop a less flexible/more straightforward docker image in the future. Please do let me know how you get on with your installation - we have a Loomio group for supporting you here: https://www.l

[2015-06-22 11:33] pierreozoux commented on #1476
Thanks for your answer! I'll check this out!

[2015-07-03 08:32] kapziel opened #2284 "Profile update results in blank redirect page"
Starting off like this:
<img width="1594" alt="screenshot 2015-07-03 20 29 01" src="https://cloud.githubusercontent.com/assets/5645311/8495509/40e01982-21c2-11e5-8a44-5d9ba269a64c.png">

When trying to change account details such as alter email address or change username, it ends up going to this page:

<img width="1594" alt="screenshot 2015-07-03 20 31 10" src="https://cloud.githubusercontent.com

[2015-07-21 09:22] strypey opened #2331 "Tagging scripts as free code for LibreJS compatibility"
Kia ora te whānau o Loomio

My first ever Issue created on GITHub!

Can coders please tag nontrrivial Loomio scripts so they are recognised as the free code they are (I presume) by LibreJS:
https://www.gnu.org/software/librejs/

This basically involves a web link to the full source code of the script and reference to the AGPL or whichever license covers them? More details on freeing your scripts h

[2015-07-23 04:48] johnfelipe opened #2340 "Difference with democracyos?"

[2015-07-23 16:59] johnfelipe commented on #2340
Dos.felipeurrego.com

[2015-07-27 02:38] johnfelipe commented on #2340
I need to know difference, pls

[2015-07-27 03:07] rdbartlett commented on #2340
Maybe you can expand the question a little felipe? e.g. what are you trying
to achieve, what do you know about each platform, what would you like
clarification on...

On Mon, Jul 27, 2015 at 2:38 PM felipe <notifications@github.com> wrote:

[2015-07-27 03:09] johnfelipe commented on #2340
My need is for bills or projects in legislation

[2015-07-27 03:28] rdbartlett commented on #2340
Cool. DemocracyOS is focussed on legislation. It is specifically designed
for engagement between citizens and legislators. As I understand it, the
legislators set the terms of engagement, and the key engagement mechanism
is voting.

Loomio is designed primarily for relatively small collaborative groups
where all the participants have equal power. It has been used increasingly
for citizen engagemen

[2015-07-27 03:43] planspark commented on #2340
I've added the Statistics NZ project to ParticipateDB here:

http://www.participatedb.com/projects/295

DemocracyOS already has a couple of project examples listed here:

http://www.participatedb.com/tools/269

If anyone has additional projects they'd like to share, please feel free to add them. Start by creating your account here:

http://www.participatedb.com/users/sign_up

Thanks!

[2015-07-27 03:49] rdbartlett commented on #2340
Nice one, thanks Tim :)

On Mon, Jul 27, 2015 at 3:43 PM Tim Bonnemann <notifications@github.com>
wrote:

[2015-08-02 23:51] #2340 closed

[2015-08-03 01:02] robguthrie commented on #2331
Hi @strypey,

As you know, all the software used in Loomio is free and the license is easy to find in our repo.

Personally I find those pages you've linked and the whole javascript-trap campaign very hard to understand and I've given up trying to read them for now.

I started by thinking .. ok I'll give this a go... how do I embed a license link in our app. And after 10 minutes I just felt confus

[2015-08-04 19:06] #1987 closed

[2015-08-04 19:07] #2025 closed

[2015-08-04 19:07] #1926 closed

[2015-08-04 19:08] #2168 closed

[2015-08-04 19:10] robguthrie commented on #2210
@ahdinosaur this is fixed now

[2015-08-04 19:10] #2210 closed

[2015-08-04 20:28] robguthrie commented on #1990
Had another report of this, first in a long time. I think the only way it can happen is through race condition now. I think just displaying anything less than 0 as 0 will be fine as a working hack fix.

[2015-08-07 08:25] strypey commented on #2331
Kia ora @robguthrie,

"Can you explain what I need to do?"

Sadly I can't, the implementation details are beyond my technical knowledge. Thanks for giving it a try. I have sent an email to the LibreJS mailing list linking to this page, and asking if any of them are able to help:
https://lists.gnu.org/mailman/listinfo/bug-librejs

The link is the one which explains what to do. If you could clarify

[2015-08-07 08:27] rdbartlett commented on #2331
Thanks for the TLDR Strypey, helps a lot.

I think it makes sense to leave this issue open so someone can pick up the
task if they have the space and inclination :)

On Fri, Aug 7, 2015 at 8:25 PM Danyl Strype <notifications@github.com>
wrote:

[2015-08-08 16:47] strypey commented on #1990
I used to see the -1 frequently about a year and a half ago, and this recent occurance is the first time I've seen -1 for a long time. The work you've done on this is definitely paying off, and after a quick web search to see what "race conditions" are, that definitely sums it up :)

[2015-08-09 14:53] strypey commented on #1862
+1 to disabling the message. As @mixmix says it's surplus to requirement anyway, and although I agree it's an incredibly minor bug, I just think it's the sort of minor thing that could affect the first impressions of new users.

[2015-08-13 18:31] lucideer commented on #1530
Has there been any movement on this? Just checked the same endpoints quickly now:

- https://www.loomio.org/api/v1/discussions?group_id=3 still works for authorised requests so I assume there hasn't been huge structural/functional changes
- https://www.loomio.org/api/v1/discussions?group_id=3 now returns a 500 instead of a 401 for anon requests

(and https://github.com/loomio/loomio/blob/master/co

[2015-08-13 23:34] rdbartlett opened #2409 "Image in discussion context renders crazy huge in Yesterday on Loomio email"
When I got emailed about [this thread](https://www.loomio.org/d/DcTUnkyI/how-to-run-an-open-source-community-space) in my "Yesterday on Loomio" email, the image is displayed at it's native 2048px width, rather than being scaled down for my email client. I believe everything else in the email is constrained to 600px max width

[2015-08-14 06:59] gdpelican commented on #1530
Hey @lucideer, there has been a bunch of movement on the API, but we've still been focusing primarily on internal usage at the moment (we've open sourced the client and server facing parts of the API, actually: www.github.com/gdpelican/snorlax; www.github.com/loomio/angular_record_store).

Once Loomio 1.0 is released later in the year, we'll be be able to better prioritise public-facing content. W

[2015-08-14 18:43] lucideer commented on #1530
I'd love to, but I'm not a Ruby guy - I could probably figure it out without a lot of difficulty but I think maybe getting loomio running in a deb env to begin with might be my biggest hurdle

[2015-08-14 19:04] gdpelican commented on #1530
Have you had a peek through the dev environment startup instructions?
https://github.com/loomio/loomio/wiki/Setup-a-Loomio-development-environment

Those are instructions for Ubuntu, but I can't imagine differences for Debian would be too severe (and we'd be happy to hear about them in a PR to that doc!)

You won't even need to worry about setting up the angular frontend business if you're just in

[2015-09-30 21:37] peteruithoven opened #2525 "html visible in header explore page"
Please let me know if this is not the right place to comment on this, but after enabling the new (angular) loomio I get html elements in the header of the loomio.org/explore page.
![screen shot 2015-09-30 at 23 32 15](https://cloud.githubusercontent.com/assets/523210/10207430/74e45e1e-67cc-11e5-92b6-80aaf2f375cb.png)
It didn't matter if I changed my language (English or dutch).
When I change back

[2015-09-30 21:49] rdbartlett commented on #2525
Thanks for the report @peteruithoven, this is a known issue.

@robguthrie have you got a solution in mind?

[2015-09-30 21:53] peteruithoven opened #2526 "Missing explore in new loomio?"
Besides going directly to loomio.org/explore I can't figure out how to explore / find public groups in the new Loomio interface.
In the old interface I get there through:
- *Groups* button > *Find a group*
- In the footer, the *Public groups* button
Is there an alternative I'm missing? Is this something that is still being figured out?

[2015-09-30 22:11] rdbartlett commented on #2526
That's because we are planning to make the Explore page much much better
before we point a lot more people at it.

Do you mind saying what you like about the Explore page currently?

On Thu, Oct 1, 2015 at 10:53 AM Peter Uithoven <notifications@github.com>
wrote:

[2015-09-30 22:39] peteruithoven commented on #2526
That clarifies things. Nothing in particular, but I was trying to find a existing group I didn't join yet and thus I got kind of lost.
On the switch page you actually do mention "Some less frequently used features may not be there yet.".

To be perfectly honest, I backed the 1.0 project, more than a year ago and I expected this to be there by now, but I also understand how developments go, keep up

[2015-09-30 22:39] #2526 closed

[2015-10-01 00:59] rdbartlett commented on #2526
Thanks for the support @peteruithoven!

[2015-10-09 19:35] gcassel opened #2567 "Context box edit history is not currently visible in the Angular interface in Chrome"
Context box edit history is pretty important, so I thought I should note this.   I verified that I could see the edit history when I reverted to the old interface today.

[2015-10-11 01:59] elecnix opened #2568 "Allow saving drafts of new discussions"
There's something I want to talk about in my group, but I don't have the time right now to write it all. I could write it on the side, then copy-paste when I'm ready, but I think it would encourage people to participate if they could save drafts of ideas.

[2015-11-05 05:01] fauno opened #2691 "new voting options?"
at [consenso pirata we're discussing](https://consenso.partidopirata.com.ar/d/4OHpG2Sf/piratizar-loomio) on how to invite people not only to reach consensus about propposals, but also to take action.  so we're thinking in new voting options:

* "i'm in!" or something like that, meaning you agree with the propposal and also you'll work towards fulfilling its goals
* "i don't understand", meaning th

[2015-11-05 19:52] alannallama opened #2692 "Incorrect Privacy Notice on Start Thread Modal"
When I go to raise a new thread in a private subgroup, it's telling me that it will be public. This is incorrect and misleading, and put me off submitting a thread with confidential information.

In the screenshot below, it says the thread will be public. But the group settings clearly show that it's private.

![screen shot 2015-11-05 at 11 48 30 am](https://cloud.githubusercontent.com/assets/5498

[2015-11-05 19:56] alannallama commented on #2692
The above problem came up when I clicked "start thread" from the yellow "plus" button. When I went to the subgroup itself and clicked "start a new thread" it appeared to have the correct privacy message.

![screen shot 2015-11-05 at 11 56 34 am](https://cloud.githubusercontent.com/assets/5498878/10979942/4dc9a902-83b4-11e5-93b1-090b8630d91e.png)

[2015-11-05 23:15] massimeddu opened #2694 "404 on all assets files after login"
Hi,

I get a 404 error message on all assets files (for example /css/app.css?1446765022) after login in a fresh install.

Any ideas to solve this?

[2015-11-05 23:53] massimeddu commented on #2694
I resolved changing to not-angular UI.

[2015-11-05 23:53] #2694 closed

[2015-11-08 22:28] alannallama opened #2696 "Proposal I participated in showing as undecided"
The proposal is showing a **?** symbol, indicating I didn't participate.

![screen shot 2015-11-08 at 2 24 08 pm](https://cloud.githubusercontent.com/assets/5498878/11023132/d8b4f752-8624-11e5-9e3d-90c73b7c74c3.png)

But when I open the proposal details, you can see that I did participate.

![screen shot 2015-11-08 at 2 24 22 pm](https://cloud.githubusercontent.com/assets/5498878/11023138/e7da31de

[2015-11-09 11:19] hangya opened #2697 "Accented characters rendering issue (comment likers)"
When a comment is liked by a user, who has accents in his name (stored as html entities), the interface escapes the starting '&':

    Liked by Kov&amp;#225;cs Andr&amp;#225;s.

so instead of the accented characters, the interface shows their html entities, like this:

The expected output would be:

[2015-11-11 06:06] gdpelican commented on #2697
Thanks, we're on it!

[2015-11-11 10:53] hangya commented on #2697
Thanks for the quick fix, it works right now!

[2015-11-11 10:55] #2697 closed

[2015-11-11 21:28] gdpelican commented on #2568
This is in the works for the new angular interface, you can track the progress here #2683

[2015-11-11 21:31] gdpelican commented on #2691
Hm, yeah. At some point we'll be taking a good hard look at this kind of customization... it keeps being brought up in the Loomio community as something missing from the decisionmaking experience, but I'm not sure allowing customization of the vote options (which is the core tenet of Loomio, above all else), is the way we'll go about it... will be interesting to see what happens when that comes up

[2015-11-11 21:32] gdpelican commented on #2040
I believe this is fixed now.

[2015-11-11 21:32] #2040 closed

[2015-11-12 11:56] gardner opened #2707 "Files uploaded to private loomio are publicly available without authentication"
A security issue which I was driven to test after reading [this](https://www.ibuildings.nl/blog/2015/11/hidden-plain-sight-brute-forcing-slack-private-files) article about Slack.

**Steps to reproduce**

* Login to upload a file to a private loomio
* Copy the url of the image
* Open up a new private browser window
* Paste the url to download the file
* Please note that no login credentials are req

[2015-11-12 12:36] fauno commented on #2691
i mean currently it involves a lot of retouching, options are hardcoded everywhere, chart colors are unrelated...

[the "i'm in!" option is already in production](https://consenso.partidopirata.com.ar/d/WOQEFagn/reunion-piratil-para-hablar-sobre-seguridad-informatica) :)

[2015-11-12 22:35] alannallama opened #2708 "Getting some email notifications even though they are turned off"
I use Loomio with absolutely zero email notifications turned on.

![screen shot 2015-11-13 at 11 19 09 am](https://cloud.githubusercontent.com/assets/5498878/11133197/3c01e78e-89f9-11e5-8424-12f2c8db7bb1.png)

But I am getting some emails anyway. Not for all threads/groups... having trouble finding the pattern. Here's one email from a thread in the Enspiral Members subgroup.

![screen shot 2015-11

[2015-11-15 22:03] alannallama opened #2711 "Bugs with Date Picker"
Two issues arise when I try to raise a proposal with a closing date other than the default 3 days.

1. There is no date picker that pops up at all. I have to manually type in a new date to change it.

2. Half the time options are invalid.

![screen shot 2015-11-16 at 9 18 33 am](https://cloud.githubusercontent.com/assets/5498878/11171301/7b7545d2-8c51-11e5-90d5-add795583e6d.png)

My browser is Fir

[2015-11-15 23:04] robguthrie commented on #2711
Yikes. Thank you Alanna - I'll fix it tomorrow!

On Mon, 16 Nov 2015 at 11:03 Alanna <notifications@github.com> wrote:

[2015-11-16 21:12] rdbartlett opened #2712 "Proposal closing soon notification delivered despite group being muted"
Just had a report from Malcolm that he has muted the Loomio Community, but is still sporadically getting messages. The latest one was the `Closing in 24 hours: Do You want to invite people by mail sent by Loomio?` notification.

[2015-11-17 05:10] rdbartlett opened #2717 "Group description needs max-width for images (in beta interface)"
Beta interface:
![image](https://cloud.githubusercontent.com/assets/970124/11203182/263f08ea-8d56-11e5-8f67-75d0a3605516.png)

No problem on new interface:

![image](https://cloud.githubusercontent.com/assets/970124/11203193/48e6da94-8d56-11e5-9f91-e493cd27ff81.png)

This is a bit sad because [this group](https://www.loomio.org/g/SOAzZhU8/unidad-popular) is being heavily advertised, and all visito

[2015-11-17 06:06] gdpelican commented on #2712
Our thread level notifications override the group level notifications, so I reckon he has a particular thread marked as 'normal'; motion closing soon is an important event, so everyone with notification level over 'quiet' will get an email.

I think the solution for this is to update all of the thread volumes in a group to nil when it is set as mute, which will effectively mute all threads unless

[2015-11-17 06:09] gdpelican commented on #2712
Going to close this as a dupe of #2708, since it's the same issue.

[2015-11-17 06:09] #2712 closed

[2015-11-17 06:16] gdpelican commented on #2717
I've got a fix for this here: #2718

On a side note, after the public api stuff gets merged in, I'd heavily recommend we consider some work which allows us to show visitors the angular interface.

[2015-11-17 06:29] #2568 closed

[2015-11-17 06:30] robguthrie commented on #2525
this is fixed!

[2015-11-17 06:30] #2525 closed

[2015-11-17 06:33] robguthrie commented on #2331
I'm going to close this, as I want to keep the issues list relevant to stuff we want to be thinking about.

If someone wants to do this work they are welcome to open a pull request.

Thanks for letting us know about this project @strypey

[2015-11-17 06:33] #2331 closed

[2015-11-17 06:33] #2039 closed

[2015-11-17 06:34] #2041 closed

[2015-11-17 06:38] #2717 closed

[2015-11-17 06:39] robguthrie commented on #1765
we've resolved this by validating that usernames do not have a dot.

[2015-11-17 06:39] #1765 closed

[2015-11-17 06:40] robguthrie commented on #1767
resolved in 1.0

[2015-11-17 06:40] #1767 closed

[2015-11-17 07:17] robguthrie commented on #2712
it's not a dupe of Alanna's bug. but that's ok. Having an "apply this
volume to all threads" (which acutally changed group volume and nulled
thread volume) would fix this.

On Tue, 17 Nov 2015 at 19:09 James Kiesel <notifications@github.com> wrote:

[2015-11-17 07:30] gdpelican commented on #2712
I reckon it's not a bug at all, just something we need to explain better,
and yeah, feature request for more intuitive volume updating.

On Tue, Nov 17, 2015 at 3:17 PM, Robert Guthrie <notifications@github.com>
wrote:

[2015-11-17 07:32] rdbartlett commented on #2712
Ah yeah, it's not a bug. I started that thread in Contributors, which meant
the thread volume would have been Normal for him. Then I shifted it into
Community, which Malcolm has muted, but he still got this notification
email because the thread volume didn't change when I moved it. Edge case.

On Tue, Nov 17, 2015 at 8:30 PM James Kiesel <notifications@github.com>
wrote:

[2015-11-17 07:56] #2708 closed

[2015-11-17 18:44] #2711 closed

[2015-11-17 18:45] robguthrie commented on #2711
We've got a ticket to add date picker support. Closing this as I fixed the Invalid Date issue

[2015-11-17 18:45] robguthrie commented on #2204
:)

[2015-11-17 18:45] #2204 closed

[2015-11-17 18:46] #2167 closed

[2015-11-17 18:50] robguthrie commented on #2222
confirming this is still an issue

[2015-11-17 18:51] robguthrie commented on #1990
Anyone seen it recently?

[2015-11-17 18:51] #1978 closed

[2015-11-17 19:43] robguthrie commented on #1757
I'm gonna close this for now. The behaviour of the language stuff is like so:

We detect what language your browser tells us, and save it as user.detected_locale which we store and use when sending mail etc. If you want to use another locale you can select via the user preferences page, and that is saved as user.selected_locale which is always the used option if it is present.

[2015-11-17 19:43] #1757 closed

[2015-11-17 19:45] robguthrie commented on #1892
resolved now.. subdomains are just redirects

[2015-11-17 19:45] #1892 closed

[2015-11-17 19:46] robguthrie commented on #1927
closing as it's a beta issue we're not seeing in angular

[2015-11-17 19:46] #1927 closed

[2015-11-17 19:47] robguthrie commented on #1629
I did this job ages ago

[2015-11-17 19:47] #1629 closed

[2015-11-17 19:47] robguthrie commented on #1656
no longer an issue

[2015-11-17 19:47] #1656 closed

[2015-11-17 20:15] rdbartlett opened #2724 "Previous proposals marked as undecided even though I have participated"
I have participated in most of these proposals but they are marked as undecided:

![image](https://cloud.githubusercontent.com/assets/970124/11223451/d43353ce-8dd4-11e5-9ffa-da7852c85c68.png)

[2015-11-17 20:20] robguthrie commented on #1895
Still happening:
![image](https://cloud.githubusercontent.com/assets/486367/11223557/719f22b4-8dd5-11e5-9e1f-ebcd26466fee.png)

In this case Joseph should have his initials showing.

[2015-11-17 20:33] gdpelican commented on #1895
I'm going to fix this. :ok:!

On Wed, Nov 18, 2015 at 4:20 AM, Robert Guthrie <notifications@github.com>
wrote:

[2015-11-17 20:35] robguthrie commented on #2724
I reckon this might be due to the default results limit.

On Wed, 18 Nov 2015 at 09:15 Richard D. Bartlett <notifications@github.com>
wrote:

[2015-11-17 20:41] robguthrie commented on #1665
hah! clozo the clown right hurr

[2015-11-17 20:41] #1665 closed

[2015-11-18 00:12] rdbartlett opened #2727 "Only show "show undecided members" link on proposals if there are any"

[2015-11-18 01:55] rdbartlett opened #2728 "Deactivated groups listed in my groups page"
Just noticed the old (archived) Contributors group is listed in my Groups page. Group key qfZ5XeEF

This list should only include non-archived groups that I am a member of.

[2015-11-18 01:55] rdbartlett commented on #2728
Also affects the list of subgroups on the group page.

[2015-11-18 03:18] robguthrie commented on #2284
Seems like this is fixed now

[2015-11-18 03:18] #2284 closed

[2015-11-18 03:57] robguthrie commented on #1600
It's super unlikely we'll fix issues like this in lomio beta now. Closing

[2015-11-18 03:57] #1600 closed

[2015-11-18 03:57] robguthrie commented on #1585
Loomio beta issue. Closing

[2015-11-18 03:57] #1585 closed

[2015-11-18 03:58] robguthrie commented on #1582
Loomio beta issue. Closing

[2015-11-18 03:58] #1582 closed

[2015-11-18 03:58] robguthrie commented on #1675
Beta issue. Closing

[2015-11-18 03:58] #1675 closed

[2015-11-18 03:59] robguthrie commented on #1904
fixed

[2015-11-18 03:59] #1904 closed

[2015-11-18 03:59] #1690 closed

[2015-11-18 03:59] #1688 closed

[2015-11-18 04:00] #1684 closed

[2015-11-18 04:00] #1707 closed

[2015-11-18 04:00] #1824 closed

[2015-11-18 04:01] robguthrie commented on #1827
Seems like this is not a problem in angular

[2015-11-18 04:01] #1827 closed

[2015-11-18 04:02] robguthrie commented on #1749
that firefox is way too old. closing

[2015-11-18 04:02] #1749 closed

[2015-11-18 04:03] robguthrie commented on #1860
jsut tested in latest firefox and not a problem anymore

[2015-11-18 04:03] #1860 closed

[2015-11-18 04:03] #1894 closed

[2015-11-18 04:04] robguthrie commented on #1678
No longer a problem in angular interface

[2015-11-18 04:04] #1678 closed

[2015-11-18 04:05] robguthrie commented on #1848
This is still a big problem we should address

[2015-11-18 04:05] robguthrie commented on #2728
angular don't have this problem

[2015-11-18 04:05] robguthrie commented on #2728
wowowowo what am I sayin

[2015-11-18 04:05] robguthrie commented on #2728
sorry

[2015-11-18 04:06] robguthrie commented on #2169
I don't think we want to do this rn

[2015-11-18 04:06] #2169 closed

[2015-11-18 04:10] #2409 closed

[2015-11-18 04:25] robguthrie commented on #2174
@gdpelican is this still relevant to you?

[2015-11-18 04:25] #1990 closed

[2015-11-18 04:26] #1853 closed

[2015-11-18 04:26] robguthrie commented on #1919
sorted in 1.0

[2015-11-18 04:26] #1919 closed

[2015-11-18 04:28] robguthrie commented on #2692
This is now fix. Thanks for the report @alannallama

[2015-11-18 04:28] #2692 closed

[2015-11-18 04:31] robguthrie commented on #2724
Thanks Rich. This is a dupe of #2696. We'll monitor the fixing process in that issue

[2015-11-18 04:31] #2724 closed

[2015-11-18 04:32] robguthrie commented on #1698
I'm pretty sure we have not had this problem in ages. I would love to be able to work out what specific thing about the email being sent or the discussion is causing the problem. Are you able to reproduce this @rdbartlett ?

[2015-11-18 08:52] gdpelican commented on #2174
Nah, close it.

On Wed, Nov 18, 2015 at 12:25 PM, Robert Guthrie <notifications@github.com>
wrote:

[2015-11-18 08:53] gdpelican commented on #2174
We'll be working on this in the near future.

[2015-11-18 08:53] #2174 closed

[2015-11-19 20:34] rdbartlett opened #2740 "Nonsense timestamps on notifications"
![image](https://cloud.githubusercontent.com/assets/970124/11283477/cd26f41e-8f69-11e5-821c-1dba11d2dd73.png)

[2015-11-19 21:31] HSalmon commented on #2187
Confirmed that this is still happening, would be good to save mime type when uploading.

@gdpelican, relevant to you...

[2015-11-19 21:49] HSalmon opened #2741 "Deactivated users can still be automatically added to groups when invited"
We received a support request from a user who said they had deactivated their account but kept receiving notifications that they had been added to a group.

[2015-11-20 00:23] fauno opened #2742 "wysiwyg/preview of markdown?"
i remember reading somewhere you were planning to add some sort of wysiwyg/preview markdown editor on context and comments, but couldn't find anything... is there some progress on this?  i've done some research, [pen](https://sofish.github.io/pen/) seems to be more complete, but i'm unsure if it sends the server html or markdown :P

[there're more resources here](https://github.com/rhythmus/markdo

[2015-11-20 00:27] gdpelican commented on #2742
My current thinking, which may or may not be the thinking of the team, is
that it while it would be super great to find a nice library that would
slide in and just work without fuss, finding something that will fit us
perfectly and expand in the ways we'll want it to expand,
functionality-wise, will be really tough and that a custom implementation
might need to happen.

Anyway it's pretty high up

[2015-11-20 01:30] rdbartlett commented on #2742
Awesome thanks for the research @fauno! I will throw some more things into the pot:

I want to get away from thinking about a "text editor" for a second, and think about a "messenger".

It's becoming increasingly clear to me that the web is made much more inclusive and accessible and fun and engaging when you support messages of all kinds: images, audio, and video.

I had a meeting with Deaf Aotea

[2015-11-20 01:33] robguthrie commented on #2742
Wonderful write up Rich. Thanks and I agree. Minor detail but along with
DnD for files.. clipboard support so I can just CMD+V images (and possibly
other media). Github and Trello support this.

On Fri, 20 Nov 2015 at 14:30 Richard D. Bartlett <notifications@github.com>
wrote:

[2015-11-20 01:37] rdbartlett commented on #2742
@robguthrie I think I said that: "paste from clipboard to upload inline image."

[2015-11-20 02:05] rdbartlett opened #2743 "Inaccurate proposal closing time"
Currently proposal closing time is up to 10 minutes out of accuracy, as it relies on a cron job on heroku. This means occasionally you see things like this:

![image](https://cloud.githubusercontent.com/assets/970124/11290076/ee9b6aca-8f97-11e5-933d-6b5a32c97f98.png)

@gdpelican were you proposing to use DelayedJob to handle this?

[2015-11-20 02:19] gdpelican commented on #2743
Thats the firehose solution. The easier thing it to have that reference
closing_at instead of closed_at when calcing if it's open or not
On Nov 20, 2015 10:05 AM, "Richard D. Bartlett" <notifications@github.com>
wrote:

[2015-11-20 04:18] rdbartlett commented on #2728
@robguthrie this problem seems to have fixed itself. Is it safe to close?

[2015-11-22 23:20] rdbartlett opened #2745 "Can't invite people to group becayse angular not loading coordinator permissions"
In Angular, when I look at the memberships page for the Enspiral group, I see me and Alanna and Charley as coordinators. When I look at it in Beta, there are a bunch more, including Phill, Malcolm. The result is that Malcolm and Phill can't invite people to join the group, i.e. they can't do their job. Yikes!

[2015-11-22 23:49] gdpelican commented on #2745
Can't repro this. Plucking the coordinators from the Enspiral group in prod gives me this:

![screen shot 2015-11-23 at 7 45 31 am](https://cloud.githubusercontent.com/assets/750477/11327085/7563366c-91b6-11e5-9a8f-a0ca0310aa94.png)

Which matches what I see on the angular interface. Beta interface doesn't have a mechanism for displaying whether people are coordinators or not, as far as I can tell

[2015-11-22 23:51] gdpelican commented on #2745
Oh right, I'm not a coordinator, so I can't see the coordinators in beta. Mind screenshotting me, here or privately?

[2015-11-23 01:10] rdbartlett commented on #2745
I'll send you screenshots privately.

On Mon, Nov 23, 2015 at 12:51 PM James Kiesel <notifications@github.com>
wrote:

[2015-11-23 03:56] rdbartlett commented on #2745
I will re open this when I have a reproducible error

[2015-11-23 03:56] #2745 closed

[2015-11-23 05:37] alexanderzatko opened #2747 "Email settings - Group volume settings forgotten"
I used a link in an email send by loomio to unsubscribe from messages received from groups. After reaching the Email settings page I clicked the Quiet radio button and Update(d) Settings. The change seemed to "stick". However, group emails continue to arrive and when visiting the Email settings page again, the No change radio button is selected.

[2015-11-23 05:49] rdbartlett commented on #2747
Thanks for the very lucid report @alexanderzatko. Strange as it sounds, this is actually working as intended, it is just a very confusing design!

When you have a bunch of threads in a group, they will each be at different volume settings, depending on whether or not you have participated in them. When you change your group volume, all new threads in that group will start with that volume. However

[2015-11-23 20:16] jessykate opened #2749 "iPad: Nav bar de-attaches from top of page upon entering comment textarea."
This seems to happen only if I am scrolled all the way to the bottom of the page. If I scroll up a bit and then enter the textarea, it doesn't happen. However, it is often the case naturally, that I am often scrolled all the way down. See screenshots. Happens in both landscape and portrait orientation. Re-attaches when I close the keyboard.

A similar (smaller) bug is that returning in the text ar

[2015-11-24 19:37] rdbartlett opened #2752 "Draft remains after I post my comment"
Typed comment, pressed post, textarea cleared, comment posted, textarea repopulated with draft

![image](https://cloud.githubusercontent.com/assets/970124/11378373/aefb1fda-934f-11e5-8e2c-1b861b774066.png)

Fyi @gdpelican

[2015-11-24 20:16] rdbartlett commented on #2752
FYI, I've only seen this once. I've posted a bunch of comments with no problem.

I wonder if this bug is causing people to double-post comments though? Just saw this:

![image](https://cloud.githubusercontent.com/assets/970124/11379418/29b5cfea-9355-11e5-83a9-28c62b9ea42d.png)

[2015-11-24 20:25] rdbartlett commented on #2752
Bug happened to me again. When I reload the page though, the draft is gone.

[2015-11-24 21:57] gdpelican commented on #2752
Super weird, must be another race condition. I'll have a look.

[2015-11-24 21:59] rdbartlett commented on #2752
I have a hunch that it is coinciding with times when the network is slow.

[2015-11-24 23:21] gdpelican commented on #2115
Closing as a beta issue which we won't spend time on... someday angular will have google contacts and everyone will get a unicorn as part of the UBI. :horse:

[2015-11-24 23:21] #2115 closed

[2015-11-24 23:22] #1928 closed

[2015-11-24 23:24] gdpelican commented on #1635
Closing this as we're not going to touch the explore page again in beta. Shiny new explore page likely coming soon!

[2015-11-24 23:24] #1635 closed

[2015-11-24 23:25] #1698 closed

[2015-11-25 05:07] sicarul opened #2754 "Custom install of Loomio doesn't show dashboard"
Hello, i've installed Loomio with Dokku, following this guide:

https://loomio.gitbooks.io/tech-manual/content/install_loomio_with_dokku.html

A previous version of Loomio worked fine with the same method of installation, but when i updated it, it stopped working. I deleted the database and started from scratch (As it wasn't production yet) and now it doesn't work.

Authentication works fine, but

[2015-11-25 05:08] sicarul commented on #2754
I'm running this version: 3a8c316060920e6cb41f63e5cf9e8d2abe8e1ded

[2015-11-25 13:30] gdpelican commented on #2754
Hi @sicarul, sounds like you haven't gotten lineman running to enable the new angular interface yet. Have you had a look at this guide?
https://loomio.gitbooks.io/tech-manual/content/using_development.html

@robguthrie It seems like a lot of people are running into this and I'm wondering if we can give a little love / visibility to the tech manual in the near future to remove what seems to be a pr

[2015-11-25 18:09] robguthrie commented on #2754
yes tech-manual is prioritised in next sprint

On Thu, 26 Nov 2015 at 02:30 James Kiesel <notifications@github.com> wrote:

[2015-11-25 23:21] whit537 opened #2756 ""Start group" button seems to be a no-op"
**Steps to reproduce:**

 1. Navigate to https://www.loomio.org/groups as an authenticated user.
 1. Click the [ + New Group ] button.
 1. Choose an open group that anyone can join with all permissions enabled.
 1. Click [ Start Group ]
 1. Click [ OK ] on javascript `confirm` prompt, "If you proceed, all threads in this group will be made public on the web."

**Expected result:**

 - Land back on

[2015-11-25 23:23] whit537 commented on #2756
Looks like I'm getting a `422: Unprocessable Entity" from `/api/v1/groups`.

![screen shot 2015-11-25 at 6 23 44 pm](https://cloud.githubusercontent.com/assets/134455/11411765/adf747ec-93a1-11e5-993a-42ddc1e6c36c.png)

[2015-11-25 23:40] gdpelican commented on #2756
Hm.. I'm not able to reproduce this... here was my process; can you think of anything else that might be missing? Are you able to inspect the 422 request which comes back for error messages?
http://g.recordit.co/GnIcn2tSC7.gif

[2015-11-26 00:04] whit537 commented on #2756
@gdpelican Note (3): "Choose an open group that anyone can join with all permissions enabled."

![screen shot 2015-11-25 at 7 03 57 pm](https://cloud.githubusercontent.com/assets/134455/11412180/5131c2ca-93a7-11e5-86cf-95282dd643a6.png)

[2015-11-26 00:04] whit537 commented on #2756
Looks like we do have an error message:

[code]

How does this map to the options I've selected?

[2015-11-26 00:06] whit537 commented on #2756
At the very least, the error message should be propagated back to the user. I'm not convinced there's not another bug, though. I'm not sure what "Discussions must be public" means, but I *think* I tried to make discussions public by selecting "Open" for privacy. But is "group is open" what maps to that option? Then what maps to "Discussions must be public"?

[2015-11-26 00:09] gdpelican commented on #2756
Okay, I can repro now. This looks like a subtle gap in our group privacy matrix, @robguthrie.

[2015-11-26 00:13] whit537 commented on #2756
Cool, thanks @gdpelican.

[2015-11-26 04:30] whit537 commented on #2756
I've got Loomio running locally:

![screen shot 2015-11-25 at 11 29 09 pm](https://cloud.githubusercontent.com/assets/134455/11415104/5af2af8e-93cc-11e5-966d-ca3a1ef3823c.png)

I don't have a ton of Rails experience. How do I run the test suite?

[2015-11-26 04:33] whit537 commented on #2756
https://github.com/loomio/loomio/wiki/using_development#testing

[2015-11-26 04:42] whit537 commented on #2756
I suppose this is where the test should go, in [`group_privacy_spec.rb`](https://github.com/loomio/loomio/blob/5f9c560f52f64c4d4604ad672ff68ba950a0c5d4/spec/models/group_privacy_spec.rb).

[code]

[2015-11-26 04:47] whit537 commented on #2756
Here's the source of the error message: https://github.com/loomio/loomio/blob/5f9c560f52f64c4d4604ad672ff68ba950a0c5d4/app/models/group.rb#L556.

[2015-11-26 04:47] whit537 commented on #2756
(Presumably.)

[2015-11-26 04:53] whit537 commented on #2756
Might be an interaction with the "subgroups" option?

[code]

[2015-11-26 04:55] whit537 commented on #2756
I tried creating the group again in production, unchecking "Members can create subgroups" as a workaround: same error.

[2015-11-26 05:07] gdpelican commented on #2756
So the trouble will be something related to us setting
'discussion_privacy_options' (which is not currently an option in the form)
to 'private_only' (or maybe 'public_or_private', which is incompatible with
an 'open' group at the moment. This was a relatively major change to
simplify the group options which has been rolled out recently, so we've
probably hasn't accounted for 'public_discussions_on

[2015-11-26 17:27] sicarul commented on #2754
@gdpelican Thanks for answering! Though that refers to a development environment, i didn't install it on a development environment, i went directly to the production environment, do i have to install lineman on the production server?

[2015-11-26 20:34] HSalmon opened #2757 "Last coordinator can't deactivate group - admin panel says group is deactivated"

[2015-11-27 03:41] rdbartlett opened #2759 "Welcome modal didn't show when I set up a new group"
(noticed this during demo today)

[2015-11-27 04:47] robguthrie commented on #2759
so sad

On Fri, 27 Nov 2015 at 16:41 Richard D. Bartlett <notifications@github.com>
wrote:

[2015-11-27 05:48] gdpelican commented on #2759
:see_no_evil:

[2015-11-27 06:40] gdpelican commented on #2759
#2762

[2015-11-27 06:40] gdpelican commented on #2756
#2761

[2015-11-27 06:41] gdpelican commented on #2752
#2760

[2015-11-27 06:41] #2728 closed

[2015-11-27 07:45] gdpelican commented on #2740
@rdbartlett Sorry, I'm not seeing the nonsense here?

[2015-11-27 20:06] rdbartlett commented on #2740
Sorry, bad explanation. I get a lot of timestamps that say "just now", but
they are actually hours old. It's like the clock gets frozen when the event
first fires.

On Fri, Nov 27, 2015 at 8:45 PM James Kiesel <notifications@github.com>
wrote:

[2015-11-28 18:15] jessykate commented on #2752
This just happened to me too!

<img width="1001" alt="screenshot 2015-11-28 10 13 52" src="https://cloud.githubusercontent.com/assets/59882/11453261/dc4bc244-95b8-11e5-9690-f7c5e80e5c89.png">

[2015-11-28 18:15] jessykate commented on #2752
(Actually it's happened at least twice in two different threads, FWIW)

[2015-11-28 23:53] gdpelican commented on #2752
There is a PR in for this that will be merged soon.

On Sun, Nov 29, 2015 at 2:15 AM, Jessy Kate Schingler <
notifications@github.com> wrote:

[2015-11-29 22:34] rdbartlett opened #2763 ""[user] updated the thread title and context" — but I only updated the context"

[2015-11-29 23:20] #2759 closed

[2015-11-29 23:20] #2756 closed

[2015-11-29 23:20] #2752 closed

[2015-11-29 23:21] gdpelican commented on #2754
Yep, you'll need to run lineman in production as well. :+1:
We'll be updating the docs for this to make it a much easier path to follow over the next week or so.

[2015-11-29 23:21] #2754 closed

[2015-11-29 23:24] gdpelican commented on #2028
This is ancient, and still not sure exactly what the issue is here, so closing. Feel free to open a new one if you're still experiencing this :rabbit:

[2015-11-29 23:24] #2028 closed

[2015-11-29 23:29] gdpelican commented on #1638
I believe this has been taken care of in 1.0.

[2015-11-29 23:29] #1638 closed

[2015-11-29 23:30] gdpelican commented on #1807
#2726

[2015-11-29 23:30] #1807 closed

[2015-11-29 23:31] gdpelican commented on #1704
Closing due to ancientness. I believe 1.0 handles this alright.

[2015-11-29 23:31] #1704 closed

[2015-11-29 23:31] #1682 closed

[2015-11-30 01:40] #1798 closed

[2015-11-30 01:41] gdpelican commented on #1895
Fixed per #2726

[2015-11-30 01:41] #1895 closed

[2015-12-01 09:36] gdpelican commented on #2241
The new attachments which have just been deployed should fix this (on angular at least)

[2015-12-01 09:36] #2241 closed

[2015-12-01 09:36] gdpelican commented on #2187
I believe this is fixed in angular now.

[2015-12-01 09:36] #2187 closed

[2015-12-01 09:38] gdpelican commented on #1912
After some further research on this, the conclusion I'm hearing is that while private RSS feeds exist, they're not so common a thing, and that they're largely implemented with HTTP basic auth, which is kinda not good enough for me to consider sending private info out there.

Happy to hear further thoughts on the issue, but at the moment I'm thinking that if you want to syndicate your content via R

[2015-12-01 09:39] gdpelican commented on #1846
The new attachments system will allow local file uploads, or using other providers with a little environment tweaking. I'll be providing some docs around this in the upcoming days, which will make it into the tech manual as well.

[2015-12-01 09:39] #1846 closed

[2015-12-01 09:41] gdpelican commented on #1530
Going to close this as it's not a particular 'issue' for us to fix at this point. If anyone's interested in using the Loomio API, get in touch with me and we'll discuss further how to make that easy for you.

[2015-12-01 09:41] #1530 closed

[2015-12-01 09:42] gdpelican commented on #1466
I'm going to close this as it's ancient and a duplicate of #2166

[2015-12-01 09:42] #1466 closed

[2015-12-01 09:57] gdpelican commented on #2696
Got a fix for this in #2766

[2015-12-01 16:46] gdpelican opened #2767 "Record search terms for fun and profit"
Currently, we have a nice search implementation which allows us to search for threads by content in the title and context, as well as any proposals or comments associated with that thread.

A nice feature to have on top of this would be the ability to track what search results lead to what discussions being clicked, IE it'd be nice to know that searching for the term 'coordinator' is returning Dis

[2015-12-01 17:02] gdpelican opened #2768 "Make /api/notifications.json more performant"
Right now the notifications query is very much not optimized. Running the `bullet` get (which you can check out at `log/bullet.log` will reveal a tonne of N+1 queries leaking out of the notifications query like this:

[code]

This is because we're not doing a proper includes on the query happening in `controllers/api/notifications_controller.rb`:

[code]
(NB: eventable is a polymorphic association

[2015-12-01 17:07] whit537 commented on #2756
Confirmed fixed, thanks @gdpelican @robguthrie! :-)

![screen shot 2015-12-01 at 12 05 31 pm](https://cloud.githubusercontent.com/assets/134455/11507874/13010fd4-9824-11e5-8204-f895469d66f4.png)

[2015-12-02 00:08] rdbartlett opened #2770 "'Comment liked' notification doesn't take me to the comment if I'm already on that thread page"

[2015-12-02 00:14] rdbartlett opened #2771 "My subgroup is configured so parent members can't see threads, but they are still coming up in the Slack integration"

[2015-12-02 00:26] gdpelican commented on #2771
What if we didn't post subgroup stuff via slack? I feel like our privacy options are a little too hairy to navigate this elegantly, and if someone wants to post subgroup content to the same channel, they (I) can set up another webhook for each subgroup easily.

[2015-12-02 00:33] gdpelican commented on #2770
Yeah, knew this would come up eventually. This is tricky because of the possibility that you're navigating to something way out of the existing event window.

Easiest thing might actually be to reload the page, while the more complicated thing would be to clear out the existing event window and re-request it with the given comment id. Thoughts @robguthrie?

[2015-12-02 00:35] rdbartlett commented on #2771
:+1:

[2015-12-02 00:45] gdpelican commented on #2757
Going to need some more details on this one, as I'm unable to reproduce and am not quite sure what this is saying. If it's deactivated in the admin panel, it's deactivated in the DB, which means they shouldn't be getting to the group page at all.

[2015-12-02 02:18] HSalmon opened #2773 "Stuff I read via email shows up unread"

[2015-12-02 02:18] HSalmon opened #2774 "My comments show up as unread"

[2015-12-02 07:05] #2771 closed

[2015-12-02 07:05] gdpelican commented on #2757
Closing for now, feel free to reopen if we can find a repro.

[2015-12-02 07:05] #2757 closed

[2015-12-02 07:10] #2696 closed

[2015-12-02 07:20] gdpelican opened #2777 "Previous proposals errors on opening some proposals"
Specifically ones which don't have their group loaded, for example:

https://www.loomio.org/g/WmPCB3IR/previous_proposals

![screen shot 2015-12-02 at 3 19 27 pm](https://cloud.githubusercontent.com/assets/750477/11524729/255591d4-9908-11e5-9972-d8c1e72c8b8e.png)

[2015-12-02 12:30] fauno commented on #2773
fwiw i've seen this happen when the email client doesn't support or doesn't open the webbug url for marking the event as read.  it works in thunderbird, but not on any console client (ie mutt).  it doesn't work on k-9 either, though i'm using an old version.

maybe it needs to show a little image, like a check mark? :heavy_check_mark:

[2015-12-02 12:39] fauno commented on #2773
i don't remember if thunderbird asked me if i would like to load images from loomio's email address though

[2015-12-02 18:34] mhjb opened #2779 "Card headings funky on at least iPhone 4, some Android"
![2015-11-25 19 50 39](https://cloud.githubusercontent.com/assets/1380991/11540187/40e22394-9990-11e5-8621-1ec72f8f768d.png)

[2015-12-02 23:17] rdbartlett opened #2780 "New thread form told me I was starting a public thread but it was private"
When I open the Start Thread modal from the Dashboard page, and select 'Loomio Community - Contributors' as the group, the privacy notice tells me the thread will be public. Then I start the thread and see that it is private (which is what I wanted).

[2015-12-03 02:46] gdpelican opened #2781 "Unable to turn off 'Yesterday on Loomio' email"
According to my email settings, I shouldn't be receiving a 'Yesterday on Loomio' email

![screen shot 2015-12-03 at 10 45 44 am](https://cloud.githubusercontent.com/assets/750477/11550455/0bf430c6-99ab-11e5-8dcf-1d7d4375f016.png)

But yet it dutifully shows up every morning.

[2015-12-03 03:07] silviazuur opened #2782 "Able to tag a user who is not in a group"
There is a user called @silvia (who is not me) and who must be in other groups. When people tag @silvia in the Enspiral group it still "tags" someone/that user.

This is confusing. I think you should only be able to @ mention people who are only in that group. It should limit the list of option to accounts only in that group

[2015-12-03 03:25] robguthrie commented on #2782
Thanks Silvia, This is a new bug! We'll fix it soon!

On Thu, 3 Dec 2015 at 16:07 Silvia Zuur <notifications@github.com> wrote:

[2015-12-03 03:51] robguthrie opened #2783 "Faye on Production uses non standard port"
We have noticed some of your javascript is being served from non standard ports. https://faye.loomio.org:4443/faye.js
We have temporarily allowed this port , as it is blocked by default, and Loomio’s performance is noticeably better.

[2015-12-03 13:39] gdpelican commented on #2782
This is a tricky one to fix in a performant way. We may want to consider storing mentions in the DB in a similar fashion to comment likes.

[2015-12-03 13:39] gdpelican commented on #2782
Calling this:
[code]
every time we serialize a comment is going to kill us.

[2015-12-03 15:52] gdpelican commented on #2773
Is it possible to give a little more context on this one, @HSalmon? Is it a thread email or the yesterday on Loomio email that's not marking things as read, or both? Do the items get marked as read on reload, or not at all?

[2015-12-03 16:21] gdpelican commented on #2691
I meant to say... that is very cool.

I'm going to take a little time and get the backend a little more friendly for this work; I think prepping this correctly will lead to some very neat customizations in the future.

[2015-12-03 18:06] robguthrie commented on #2782
I don't think that's the part of the system with the problem. I think its more on the mentioning side of things.. IE: when the author is typing we're displaying users to mention which do not belong to the group.

[2015-12-04 01:55] gdpelican commented on #2781
This is user error; I had a separate account which was sending to the same email address.

[2015-12-04 01:55] #2781 closed

[2015-12-04 01:56] robguthrie commented on #2781
Thought it mighta beeen! ;)

On Fri, 4 Dec 2015 at 14:55 James Kiesel <notifications@github.com> wrote:

[2015-12-04 02:01] gdpelican commented on #2782
I'm not seeing that behavior; going to the Enspiral group and trying to mention @ silviazuur works as expected .

We're serializing out `mentioned_usernames` in the serializer, which uses Twitter::Extractor, which doesn't take into account group membership.

So I think people are assuming that Silv is @silvia, without actually selecting it from the mentionable menu, and then submitting it. (Plus,

[2015-12-04 02:21] robguthrie commented on #2782
I am experiencing this problem too.. Rose Lu was able to mention robguthrie
which is a loomio user who only belongs to palinka. (my main account
username is robertguthrie)

On Fri, 4 Dec 2015 at 15:01 James Kiesel <notifications@github.com> wrote:

[2015-12-04 02:23] gdpelican commented on #2782
Yes, I can reproduce the bug, but cannot see the behaviour of us suggesting the wrong user through autocomplete.

[2015-12-04 09:58] gdpelican commented on #2740
I believe the auto-updating timestamps will fix this.

[2015-12-04 09:58] #2740 closed

[2015-12-04 13:23] #1912 closed

[2015-12-05 00:57] rdbartlett opened #2789 "Navigating directly to g/[:key]/memberships gives permission denied error"

[2015-12-07 11:14] gdpelican commented on #2789
I think what @robguthrie's been working on recently will handle this, loading up memberships instantly with the current user.

[2015-12-13 22:40] rdbartlett opened #2806 "Drafts do not work on new proposal"

[2015-12-13 22:40] rdbartlett opened #2807 "Drafts do not work on editing"

[2015-12-13 22:41] rdbartlett opened #2808 "Browser 'back' button should close modal"

[2015-12-13 22:48] rdbartlett commented on #2780
This should say private but it says public :pineapple:

![image](https://cloud.githubusercontent.com/assets/970124/11769976/a2d85bba-a258-11e5-80d5-0586fe5e50c6.png)

[2015-12-13 23:29] gdpelican commented on #2807
Uh, on editing what? I'd really appreciate a little more detail in these 'bug reports' @rdbartlett

[2015-12-14 00:36] rdbartlett commented on #2807
Sorry for the brevity, was throwing notes down in a meeting. I saw this not
working on editing comments, but Rob believes it is the same for editing
anything.

On Mon, Dec 14, 2015 at 12:30 PM James Kiesel <notifications@github.com>
wrote:

[2015-12-14 05:00] whit537 opened #2810 "support drag-and-drop for splash image"
Currently the only interface is the browser's file upload selector.

[2015-12-14 05:00] whit537 opened #2811 "support drag-and-drop for image uploads"
Currently the only interface is the browser's file upload selector.

[2015-12-14 05:01] whit537 opened #2812 "support crop/resize for splash photo"

[2015-12-14 05:01] whit537 opened #2813 "support crop/resize for image uploads"

[2015-12-14 05:02] whit537 opened #2814 "allow for credit for splash photo"
I'm using a CC-BY photo and don't have a good place to put the attribution.

[2015-12-14 05:03] whit537 opened #2815 "allow for credit for group avatar"
I'm using a CC-BY photo and don't have a good place to put the attribution.

[2015-12-14 05:14] whit537 opened #2816 "allow me to expand "new topic" textarea vertically"
I want to write more than will fit in the textarea as initially displayed, but I can't change the size of the textarea vertically using the browser's controls.

![screen shot 2015-12-14 at 12 13 38 am](https://cloud.githubusercontent.com/assets/134455/11773428/ac4f6262-a1f7-11e5-8826-1ba996f224fe.png)

[2015-12-14 05:15] whit537 commented on #2816
Ftr the textarea *does* expand when I fill it with content:

![screen shot 2015-12-14 at 12 15 35 am](https://cloud.githubusercontent.com/assets/134455/11773434/d840602e-a1f7-11e5-8c15-aea934888542.png)

[2015-12-14 05:22] whit537 opened #2817 "Indicate where Markdown is allowed in-app"
I pasted some markdown, and it appears to have worked:

https://www.loomio.org/d/MXNPQpo1/pick-an-online-citizen-engagement-platform

But I had no indication that it would on the new thread form:

![screen shot 2015-12-14 at 12 19 19 am](https://cloud.githubusercontent.com/assets/134455/11773464/654a1ffa-a1f8-11e5-8dbc-205d66238b8e.png)

[2015-12-14 05:23] whit537 opened #2818 "show what the proposal title used to be"
When I change the title of a proposal, there doesn't appear to be any indication of what the title *used* to be:

![screen shot 2015-12-14 at 12 21 10 am](https://cloud.githubusercontent.com/assets/134455/11773484/9fba23f6-a1f8-11e5-9b8d-b5e95094853a.png)

[2015-12-14 05:27] whit537 commented on #2817
The comment box on threads has an affordance:

![screen shot 2015-12-14 at 12 26 39 am](https://cloud.githubusercontent.com/assets/134455/11773536/6aa05c7a-a1f9-11e5-8cc9-4a5f2b4cd6f7.png)

[2015-12-14 05:28] whit537 opened #2819 "allow me to create multiple proposals at once"
I made a proposal on a thread, and it looks like I can't create a second proposal. Is that correct? Is it just that a given user can't create multiple proposals at a time? Or that a given thread can have only one live proposal at a time? Or ... ?

![screen shot 2015-12-14 at 12 25 57 am](https://cloud.githubusercontent.com/assets/134455/11773526/45b9287e-a1f9-11e5-8b85-9e46ff42b99b.png)

https://w

[2015-12-14 05:34] whit537 opened #2820 "indicate that Markdown is accepted in group descriptions"
I discovered this by trying it (informed by  #2817).

![screen shot 2015-12-14 at 12 33 55 am](https://cloud.githubusercontent.com/assets/134455/11773624/7152db50-a1fa-11e5-961d-37a6eac74dad.png)

[2015-12-14 12:02] gdpelican commented on #2806
They're not intended to at the moment, as there's complications with the difference between naming things 'motion' and 'proposal'. I'll leave this open, as we should have the functionality, but it's not likely to get fixed in the immediate future.

[2015-12-14 14:05] whit537 opened #2823 "add oauth options to "Ask to join group" workflow"
Reticketed from https://github.com/Ambridge/Ambridge/issues/70. Users should be able to authenticate with Facebook as part of the "Ask to join group" workflow.

![ldzvghfwwk](https://cloud.githubusercontent.com/assets/134455/11782877/c5beccd4-a241-11e5-9d1d-a1ca5e220e8f.gif)

[2015-12-15 19:10] rdbartlett opened #2826 "when comment has attachment, include link to attachment in comment notification email"
![image](https://cloud.githubusercontent.com/assets/970124/11821031/5576e59c-a3cc-11e5-8cd4-6ba94daa402d.png)

![image](https://cloud.githubusercontent.com/assets/970124/11821035/5e2d4320-a3cc-11e5-8d72-bc54976bf5ed.png)

[2015-12-16 05:18] gdpelican commented on #2807
This is actually intended behaviour at the moment... I found it really annoying to open up an edit modal, change a bunch of things, and then go back only to find them still there.... I kinda expected it to be a 'reset' to close the modal.

So I think this needs a little design, and a 'discard draft' button somewhere... it can't be as silent as the create draft stuff, because when you go to edit so

[2015-12-16 05:23] robguthrie commented on #2807
Hrrmm.. I see your point. In that case I think we need to put the confirm
cancel back in there.

On Wed, 16 Dec 2015 at 18:18 James Kiesel <notifications@github.com> wrote:

[2015-12-16 05:29] gdpelican commented on #2807
Yarr, totally agree.

On Wed, Dec 16, 2015 at 6:23 AM, Robert Guthrie <notifications@github.com>
wrote:

[2015-12-16 23:07] HSalmon commented on #2819
Hi @whit537, thanks for raising this.

Right now, it is not possible to have multiple active proposals in a single discussion thread.

Loomio encourages groups to use the discussion thread to consider multiple options. A proposal is one proposed course of action and is used as a way of testing consensus when it looks like a one idea is gaining traction.

That being said, a multi-choice proposal fe

[2015-12-16 23:11] HSalmon commented on #2818
@whit537 - just a heads up, visual representation of revision history is currently being designed and will be implemented soon.

[2015-12-17 01:10] rdbartlett opened #2829 "Explain why someone should use the shareable group link"
I'm keen to a) give the shareable group link a name, so we can refer to it easily in the help docs and b) promote its use (because I think it is better than sending unique invitations).

@natiloomio and I have just tried some new language. What do you think of this?

![invite](https://cloud.githubusercontent.com/assets/970124/11858586/c4d17d2a-a4c7-11e5-8a8b-4357c77db445.png)

Also note the Group

[2015-12-17 03:32] rdbartlett opened #2832 "List on the subgroups card on group page should be alphabetised"

[2015-12-17 03:33] rdbartlett opened #2833 "Replying to my own comment shouldn't send me a notification or email"

[2015-12-17 22:22] rdbartlett commented on #2829
Next iteration:

![invite](https://cloud.githubusercontent.com/assets/970124/11883693/840f4b48-a579-11e5-9915-3ba9322d4040.png)

Next, I want to design the 'turn off link sharing' feature.

[2015-12-17 22:22] rdbartlett commented on #2829
(Oops deleted previous comment w wrong image)

Next iteration:

![invite](https://cloud.githubusercontent.com/assets/970124/11883723/a3c6aa8a-a579-11e5-925f-bc8d88dc9269.png)

[2015-12-17 22:32] robguthrie commented on #2829
I love it

On Fri, 18 Dec 2015 at 11:28 Richard D. Bartlett <notifications@github.com>
wrote:

[2015-12-17 22:34] rdbartlett commented on #2829
The button says 'done' until you enter an email address, when it changes to say 'send'.

Think it is a good enough next iteration?

[2015-12-17 22:46] rdbartlett opened #2837 "Memberships page is only showing first 50 pending invitations"
Currently in the Enspiral group I can see 50 pending invitations in angular and 52 in rails. In angular, the most recent 2 invitations are missing. I'm assuming that is a pagination issue. As a quick fix can we just up it to 500, and reverse it so I see the most recent invitations?

[2015-12-17 22:49] rdbartlett commented on #2837
Or load the next 50 when you scroll to the bottom of the page?

[2015-12-17 23:15] robguthrie commented on #2829
i do

On Fri, 18 Dec 2015 at 11:36 Richard D. Bartlett <notifications@github.com>
wrote:

[2015-12-18 04:24] rdbartlett opened #2840 "URL not auto-linking in thread context"
![image](https://cloud.githubusercontent.com/assets/970124/11889254/18d00d94-a5ac-11e5-9c31-23e5d6f5e566.png)

I would expect the www would have been recognised and the text automatically turned into a link.

[2015-12-18 14:03] #2832 closed

[2015-12-18 14:04] gdpelican commented on #2819
This would be a great thing to raise in the feature ideas group on Loomio.
https://www.loomio.org/g/GN7EFQTK/loomio-community-feature-ideas

[2015-12-18 14:04] #2819 closed

[2015-12-18 14:05] gdpelican commented on #2816
Yeah we're using a library to allow text areas to expand as content is entered into it. Likely we just want to stop the user from being able to expand the text areas manually at all.

[2015-12-18 14:10] gdpelican commented on #2815
This seems like a somewhat uncommon use case to me... Would you be able to mock up something of what you'd think it should look like?

[2015-12-18 14:11] gdpelican commented on #2812
Closing as a dup of #2813

[2015-12-18 14:11] #2812 closed

[2015-12-18 14:11] gdpelican commented on #2813
I'd love to have someone work on this if they felt the desire; reach out if you're interested!

[2015-12-18 14:12] gdpelican commented on #2810
Closing as a dup of #2811

[2015-12-18 14:12] #2810 closed

[2015-12-18 14:13] gdpelican commented on #2807
Closing for now, I'll put a card on the roadmap for confirm cancel.

[2015-12-18 14:13] #2807 closed

[2015-12-18 14:13] gdpelican commented on #2814
Closing as dup of #2815

[2015-12-18 14:13] #2814 closed

[2015-12-18 14:14] gdpelican commented on #2814
FYI @whit537, we do get an notified for each issue raised here, and this past flood left some people feeling rather spammed. I'd love to have a conversation at some point about how we can work together more effectively, feel free to reach out! <3

[2015-12-18 14:15] #2789 closed

[2015-12-18 14:16] gdpelican commented on #2820
Closing as dup of #2817

[2015-12-18 14:16] #2820 closed

[2015-12-18 14:34] whit537 commented on #2814
@gdpelican Eep! Sorry. :-(

Sure! What's a good channel to use?

[2015-12-18 18:02] robguthrie commented on #2789
can confirm its fixed

On Sat, 19 Dec 2015 at 03:15 James Kiesel <notifications@github.com> wrote:

[2015-12-19 23:57] #2833 closed

[2015-12-19 23:58] #2816 closed

[2015-12-20 00:51] gdpelican commented on #2808
I tried this; it's hard, especially given that we've got a munted router.

[2015-12-20 00:54] rdbartlett commented on #2808
Personally I don't feel like it is a huge pain. That back button keeps
shrinking :)

On Sun, Dec 20, 2015 at 1:51 PM James Kiesel <notifications@github.com>
wrote:

[2015-12-20 04:35] pgerland opened #2848 "Not localized text on the email messages sent during registration process"
Following text always appear in english :
* [name] has invited you to join [[groupName]]
* Click the link to join [[groupName]] and get started:
* Loomio is an online platform that helps groups make decisions. You can discuss issues and agree on a clear course of action together. Thanks,

This issue should really be fixed with high priority as this email is the very first message received by futur

[2015-12-20 05:03] pgerland opened #2849 "No link is available towards general information about Loomio, once connected"
Once you are connected as a member, I couldn't find a way to get to loomio.org, but by disconnecting.

Even if you type www.loomio.org in the address box, you are redirected toware www.loomio.org/dashboard.
The url https://www.loomio.org/about is accessible manually when connected.

It would be great, especially for new members, to give acccess to the presentation of Loomio by clicking the Loomio

[2015-12-20 09:10] #2727 closed

[2015-12-21 08:47] gdpelican commented on #2849
Hmm, I think I agree with this... there have been a few times where I've wanted to view the home page but couldn't because I was logged in.

That being said, most sites work this way; the marketing page is just that - for marketing. I'd be in favor of exposing /marketing to logged in users, so people can go there if they want to.

[2015-12-21 08:52] gdpelican commented on #2848
These strings are translatable, and should be available in our Transifex project. (You could likely translate them yourself!)

Have you checked out https://loomio.gitbooks.io/tech-manual/content/translation.html ?

@natiloomio is currently coordinating our translations, so you could also get in touch with her if you're interested in contributing.

[2015-12-21 08:52] #2848 closed

[2015-12-21 09:20] pgerland commented on #2848
Hi !
Indeed, I've found this string "%{member} has invited you to join %{group_name} on Loomio" (email.to_join_group.subject), already translated in french, but only for "Loomio Beta (old app)" ressource.
It should probably get translated with old app but it is not with current version.

I've already contributed to french translation that is now completed and waiting for review.
@natiloomio : vali

[2015-12-21 14:19] whit537 commented on #2814
Ftr, we've dropped to private email and are currently arranging a Hangout on Air.

[2015-12-21 22:36] natiloomio opened #2851 "invite email not translated"
The invite email messages is sent in English.
Wondering of ideally it should be sent in the language the group is set up to, to non Loomio users.
And maybe if the person that is invited is already a Loomio user, they can receive it in their prefer language ?

[2015-12-21 23:28] robguthrie commented on #2783
This is fixed now. we're using standard https port as of a couple of days ago

[2015-12-21 23:28] #2783 closed

[2015-12-21 23:32] robguthrie commented on #2763
Not able to reproduce this:
![image](https://cloud.githubusercontent.com/assets/486367/11944094/1360b058-a8a8-11e5-8213-7283157f1799.png)

Closing for now. Thanks Rich

[2015-12-21 23:32] #2763 closed

[2015-12-22 00:45] natiloomio commented on #2848
@pgerland Thanks for letting us know.

The Transifex lines that can't be translated are because they belong to the old app, and it will be taken down in February.
We also had some issues with the Transifex repositories and that is why some lines are missing from the new app, but we are trying to get this issue solved as soon as possible.

Thanks

[2015-12-22 09:51] whit537 commented on #2814
We've schedule a call for December 29 at 2pm UTC. Picking up over on https://github.com/gratipay/inside.gratipay.com/issues/421 to avoid further noise here. :-)

[2015-12-23 13:10] gdpelican commented on #2826
I'm not able to repro this behaviour on prod:
![screen shot 2015-12-23 at 2 09 27 pm](https://cloud.githubusercontent.com/assets/750477/11977023/d29497e2-a97e-11e5-92d6-bce0e59cd5c6.png)

Is it possible that MJ submitted her comment, then added the attachments later in an edit?

[2015-12-23 13:11] gdpelican commented on #2826
Ooh. That's a comment replied to email, not a new comment email.

[2015-12-23 13:17] gdpelican commented on #2826
Added in #2853

[2015-12-23 13:18] gdpelican commented on #2808
I think escape for closing the modal is alright for now.

[2015-12-23 13:18] #2808 closed

[2015-12-23 13:36] #1852 closed

[2015-12-25 19:28] robguthrie opened #2855 "Mentioning breaks sometimes"
Here mentions are broken:
![image](https://cloud.githubusercontent.com/assets/486367/12004201/8707062e-abaa-11e5-8d7a-7b67c1d97e29.png)

but not here:
![image](https://cloud.githubusercontent.com/assets/486367/12004202/92e10a80-abaa-11e5-8214-b6f99a120168.png)

[2016-01-01 20:49] gdpelican opened #2857 "Creating an attachment while logged out 500 errors"
should return 403 unauthorized

[2016-01-05 01:56] #2826 closed

[2016-01-05 03:38] #2857 closed

[2016-01-05 05:09] #2741 closed

[2016-01-05 05:12] gdpelican commented on #1862
Closing this as it's old, and constrained to the beta interface.

[2016-01-05 05:12] #1862 closed

[2016-01-09 08:42] #2806 closed

[2016-01-11 19:44] mhjb opened #2866 "Proposal counts sometimes showing NaN"
![image](https://cloud.githubusercontent.com/assets/1380991/12244471/a1b139fc-b908-11e5-8035-a3ec8bafe550.png)

[2016-01-11 19:59] gdpelican commented on #2866
Can you give repro steps or link to a specific proposal that's showing this behaviour?

[2016-01-11 20:30] mhjb commented on #2866
I see it e.g. on the first proposal here:
https://www.loomio.org/g/WmPCB3IR/previous_proposals

On 12 January 2016 at 08:59, James Kiesel <notifications@github.com> wrote:

[2016-01-12 22:11] gdpelican commented on #2866
Seems like a thing with the previous proposals page in general. We may need to rework this page a little; it's related to this bug: #2777

[2016-01-12 22:11] #2851 closed

[2016-01-12 22:16] mhjb commented on #2866
​I just went to previous proposals to find one; previous experiences of the
bug have not involved the PP page.​

On 13 January 2016 at 11:11, James Kiesel <notifications@github.com> wrote:

[2016-01-13 03:48] alannallama opened #2871 "Images rendering way larger than width of discussion"
If you upload a large image, it displays at full size, breaking the layout of a thread. Seems like it should display at the same width as the discussion, with an option to click for full size.

Example:

![screen shot 2016-01-13 at 4 45 30 pm](https://cloud.githubusercontent.com/assets/5498878/12284550/4598b0ce-ba15-11e5-84ed-c3db331db344.png)

[2016-01-13 07:04] gdpelican commented on #2871
Hrrrm.... that is odd. That thread looks like this for me:
![screen shot 2016-01-13 at 8 02 31 pm](https://cloud.githubusercontent.com/assets/750477/12287333/ac9bbb52-ba30-11e5-9fdb-06a66cac7cb5.png)

@robguthrie @HSalmon are you able to repro this? I wonder if Alanna's hanging on to an old asset somehow.

[2016-01-13 08:26] robguthrie commented on #2871
Yep I see the bug on Firefox latest.

@gdpelican it looks like there are 2 problems here. I expected that we'd resize/cut a new image for inline display.. say 640px or so wide.. And the second problem is the style for that attachment preview is not being recognised by FF.  ... we're using maxwidth:100% .. changing this to width: 100% fixes it.

[2016-01-13 08:32] gdpelican commented on #2871
Width 100% is no good, because it means that images get stretched to the
width of the thread port, which we don't want for portrait-shaped images.

Looks like FF doesn't support inline element max-width, so the fix is to
make the attachments not inline block when they're in the thread, but keep
them inline when they're previews (before the comment has been posted)

It should be serving a resized i

[2016-01-13 19:18] gdpelican commented on #2871
Upon further inspection, this particular image was uploaded by a non-angular user, so all the images are full-sized because beta doesn't do that. All the more reason to shut beta down in the near future. :8ball:

[2016-01-13 21:13] #2871 closed

[2016-01-13 21:13] #2866 closed

[2016-01-14 01:35] gdpelican commented on #2780
Fixed in #2870

[2016-01-14 01:35] #2780 closed

[2016-01-14 05:27] gdpelican commented on #2855
A little dip in the database and those seem to be markdown links to github profiles that are doing it, although I can't repro that specific behaviour (even when copy-pasting the raw comment body to another instance)

Something like

[code]

[2016-01-18 23:09] rdbartlett opened #2877 "Wrong privacy notice on new thread form"
In a secret subgroup, when I open the start new thread modal, it tells me the thread will be public.

[2016-01-19 05:21] gdpelican commented on #2877
This is an issue related to drafts; because we've saved the privacy of people's draft discussion, it's popping back to public.

Haven't quite eked out the best way to fix just yet.

[2016-01-19 21:07] gdpelican commented on #2877
#2881

[2016-01-20 02:31] #2877 closed

[2016-01-20 23:08] HSalmon opened #2888 "Add subgroup form gives you the option to create Open subgroup even if parent is Secret"
...seems to revert to Closed afterwards but shouldn't show the option

[2016-01-22 17:56] davidovitch opened #2891 "indicate level of (dis)agreement and display its distribution"
Coincidentally I bumped into [consider.it](https://consider.it/). It think it looks really interesting that they allow participants to express their level of (dis)agreement with a proposal using a simple slider. They also show the distribution of the vote/sentiment. Maybe that could be a nice addition to Loomio as well? It might support finding a compromise when it becomes clear how strongly diffe

[2016-01-26 09:25] gdpelican commented on #2891
There's some fun discussion going on in the Loomio strategy sessions at the moment about ways to make the voting / proposal system be able to handle a more diverse set of decisions. One of them is to modularize the entire proposal system, which would mean you could mix and match a bunch of different proposal types (agreement distribution, temperature check, multiple choice polling, etc.) into your

[2016-01-27 21:39] mhjb opened #2895 "Subgroups show up in Intercom"
For an example, search Companies in Intercom for 'Audience Development'

[2016-01-27 21:41] mhjb opened #2896 "Intercom missing some name data"
For examples check out the People tab in Intercom.

[2016-01-28 02:35] mhjb opened #2897 "Cmd+click doesn't work on search results"

[2016-01-28 22:10] mhjb opened #2898 "Coordinators of groups with manual subscriptions shouldn't see Manage Group Subscription"

[2016-01-28 22:17] mhjb opened #2899 "Subgroup setting descriptions inaccurate for secret groups"
"anyone can find this subgroup, see who's in it, and ask to join." — should read something like "Members of Test on trial can find this subgroup, see who's in it, and ask to join."

![image](https://cloud.githubusercontent.com/assets/1380991/12660577/52a90abe-c679-11e5-9506-c7e10b9545b9.png)

To my mind, using the language 'public' is also not quite right in this context, as the public will never

[2016-01-28 22:41] mhjb opened #2900 "Group title link 'undefined' when viewing subgroup I'm not a member of"
I'm logged in, and not a member of the (closed) subgroup or (closed) group.

The underlined link is to /undefined:

![image](https://cloud.githubusercontent.com/assets/1380991/12661209/1a2473c8-c67d-11e5-8580-342f6e134867.png)

[2016-01-31 21:29] HSalmon opened #2901 "Received proposal closing email even though group is muted"

[2016-02-02 21:15] jdoud opened #2907 "invalid date on proposal"
![screen shot 2016-02-03 at 10 14 15 am](https://cloud.githubusercontent.com/assets/1130890/12764491/1893af12-c9c8-11e5-8e30-39c469f1db98.png)

[2016-02-03 00:20] rdbartlett opened #2909 "Slack notification has proposal title where thread title should be"
![image](https://cloud.githubusercontent.com/assets/970124/12768970/b89135d8-ca78-11e5-9c33-e445f8e9cdf3.png)

See the proposal title is included twice in this notification. The first string should be the thread title.

[2016-02-03 09:20] alannallama commented on #2708
This is still happening to me, unfortunately, even though it looks like this issue was closed @robguthrie ...

[2016-02-03 20:08] toupeira opened #2911 "JS exception when loading subgroup page"
The following exception appears in the browser console multiple times when loading https://www.loomio.org/g/3ouBZhAL/loomio-community-accessibility:

[code]

Also, the link to the parent group "Loomio Community" points to https://www.loomio.org/undefined, clicking it changes the URL but the page stays on the subgroup, reloading will give the expected 404.

Now the reason this is happening might be

[2016-02-03 20:09] toupeira commented on #2911
Oh and I managed to join the Feature Ideas group again by clicking the "Join group" button while it was still visible during page load :)

[2016-02-08 22:25] rdbartlett commented on #2907
Currently when I view that proposal I get a normal date. Will need more information if we can confirm and fix this bug.

[2016-02-08 22:27] rdbartlett commented on #2900
Seems related to #2911?

[2016-02-08 22:35] rdbartlett commented on #2899
This should be fixed by putting `is_subgroup` of hidden parent into client logic.

* remove the option to create Open subgroup of Secret parent
* remove "allow public threads" from any subgroup of a secret parent
* "Anyone" should be "Members of Test"

[2016-02-08 22:39] #2895 closed

[2016-02-08 22:39] #2896 closed

[2016-02-08 22:40] #2891 closed

[2016-02-08 22:40] rdbartlett commented on #2888
dupe of #2899

[2016-02-08 22:41] rdbartlett commented on #2855
Closing until it comes back

[2016-02-08 22:41] #2855 closed

[2016-02-08 22:42] rdbartlett commented on #2849
Thanks for this feedback, we totally need to fix this. I'm going to suggest this will be fixed when we have the sidebar.

[2016-02-08 22:42] #2849 closed

[2016-02-10 02:25] Connoropolous opened #2921 "Allow slack integrations to be set up by coordinators"
I'm just going through this process with Hylo, and I know Loomio has the slack integration as well, check out this open pull request to see the flow I mean: https://github.com/Hylozoic/hylo-node/pull/81

:tada:

[2016-02-10 02:49] Connoropolous commented on #2921
As far as I can remember, currently only sysadmins can add slack integrations? Like in Hylo, with the increased simplification of the process, this should more easily allow the addition of this feature for community moderators within loomio to be able to manage their integration themselves, without having to go through the rather complex process previously involved  of manually setting up an incom

[2016-02-11 03:04] BenjaminKnight opened #2926 "Bug: Clicking the 'copy link' button in the 'share a link' part of the invite form doesn't do anything."

[2016-02-11 11:34] gdpelican commented on #2921
That sounds great. All of our current slack integration stuff is in the process of being pulled out into a plugin, which lives here: http://github.com/loomio/loomio_webhooks. Probably a good call to read up on our new plugin architecture here: https://github.com/loomio/loomio/blob/plugins-effyeah/plugins/README.md

However you'd be interested in implementing this, I'd say we probably want to tack

[2016-02-11 11:38] gdpelican commented on #2921
Also keep in mind that since Loomio.org is monolithic and will likely stay that way for a while, I'm not sure storing slack credentials in ENV will work, since many different slack apps will want to communicate with a single instance.

Honestly I think the next step for usability in this direction would be to have a form in the angular interface which allowed coordinators to put in a webhook URI,

[2016-02-11 19:49] mhjb commented on #2829
I think it is an improvement and a good enough iteration.

But:

The paragraph of text is quite long. I wondered about breaking it into two paras, so there's more of an association of the first sentence with the Shareable link, and the second with Email addresses. Perhaps adding a divider between the two sentences.

It's not super clear that the custom message only applies to the Email addresses o

[2016-02-11 19:58] HSalmon commented on #2829
I wonder if it's worth saying a little more about what a shareable link is, e.g:

"You can copy the link and send it to people you wish to join your group. Clicking the link will automatically provide them access."

Just thinking about Teddy's confusion around what a shareable link is...

[2016-02-11 20:05] robguthrie commented on #2829
that's great text Hannah

On Fri, 12 Feb 2016 at 08:58 HSalmon <notifications@github.com> wrote:

[2016-02-11 21:49] rdbartlett commented on #2829
Thanks everyone. Here's the next iteration:

![invite](https://cloud.githubusercontent.com/assets/970124/12991409/fe16b914-d173-11e5-9fcb-513c24852315.png)

I hallway tested it with Teddy and Russell. I feel confident that this is an improvement.

[2016-02-11 21:53] HSalmon commented on #2829
Cool! I could even have a stab at building it today if it's approved

[2016-02-11 22:16] rdbartlett commented on #2829
Hallway test with Gina:

* "what does 'access' mean?" She wants to reinforce what permissions people will get from this link
* "what if someone forwards this link on to someone I don't want to have access?" - I think we're going to want a way to revoke these shareable links eh.

[2016-02-11 22:26] robguthrie commented on #2829
Hannah I reckon you could start before approval.. it's down to language at
this stage

On Fri, 12 Feb 2016 at 11:16 Richard D. Bartlett <notifications@github.com>
wrote:

[2016-02-11 22:29] HSalmon commented on #2829
I feel like it's quite difficult to articulate what permissions they will have here, unless we say something like "members-level access". Initially I thought about something like "grant them membership", but I don't think that _really_ makes sense...I wonder if the help docs could outline the permissions that they get and we could link to it from the form...maybe just with a question mark icon or

[2016-02-11 22:31] rdbartlett commented on #2829
Yeah I agree it is good enough to start building.

I'm not too worried about explaining what access means yet, will be good to hear what other users think.

What do you think about revoking links @robguthrie - if the UI was good, it wouldn't be hard to implement eh?

[2016-02-11 22:46] robguthrie commented on #2829
I'm not worried about access either. I think the language is pretty great.
I think we can revoke links via pending invitations pretty easily. Or you
could "Cancel this link and create a new one" somehow.

On Fri, 12 Feb 2016 at 11:31 Richard D. Bartlett <notifications@github.com>
wrote:

[2016-02-11 23:57] rdbartlett opened #2928 "Searching for emojis should be case-insensitive"
![](http://g.recordit.co/XIYTPcFpSX.gif)

[2016-02-11 23:58] rdbartlett opened #2929 "Enable emojis in thread title and motion title"

[2016-02-12 00:42] mhjb opened #2930 "Emoji picker inserts emoji code at end of text, not at cursor"
![](http://g.recordit.co/CcdC8MK6EA.gif)

[2016-02-12 00:44] mhjb opened #2931 "Emoji renders in comment emails but not proposal starting emails"
![image](https://cloud.githubusercontent.com/assets/1380991/12995744/9bdb8214-d18e-11e5-8b30-e9d1dc23a21e.png)

[2016-02-12 01:34] mhjb opened #2932 "Markdown links no longer open in a new window"

[2016-02-12 03:28] gdpelican commented on #2928
Done!

[2016-02-12 03:28] #2928 closed

[2016-02-12 09:08] peterwallhead opened #2935 "Category select is too long for column"
On https://www.loomio.org/explore, which causes the label and select element to no longer be inline.

Forked and cloned the repo so I can work out an easy fix.

[2016-02-12 10:04] Connoropolous commented on #2921
@gdpelican yes, the slack credentials wouldn't accumulate, there is just one for the "Loomio" app.

My thoughts are that both could be implemented alongside one another. The more deeply customizable thing that is simply the storage of a webhook, platform agnostic, and the really cut and dry, anybody can do it, automated user flow for adding slack :)

I'll definitely have to read up on the plugin a

[2016-02-12 19:33] mhjb opened #2938 "Subgroups show up in Intercom"

[2016-02-12 19:58] toupeira commented on #2938
I just wanted to report a bug that sounds related (subgroups showing up when searching for them on /explore), it looks like `Group#group_privacy=` isn't called when needed:

[code]

And yeah this behaviour is part of my confusion about how permissions work, so I'm glad it's just a bug :grin:

I noticed a similar bug as well when changing the privacy from "Closed" to "Secret" and having `parent_mem

[2016-02-12 20:14] gdpelican commented on #2935
Super happy to have an easy fix for this one, but be aware that the explore page is part of our beta interface, and that it's our plan to decommission beta completely around spring or summer this year.

[2016-02-12 20:18] gdpelican commented on #2932
This has been fixed and will be deployed soon

[2016-02-12 20:18] #2932 closed

[2016-02-12 20:18] #2926 closed

[2016-02-12 22:29] toupeira commented on #2938
Found another bug: when creating a sub-group the "Open" setting is visible, but when editing the sub-group it's not. I guess it should be always unavailable for sub-groups where the parent isn't Open?

[2016-02-12 22:51] gdpelican commented on #2938
The visible 'open' setting is a known bug related to this one: #2888 I think @robguthrie may have his eyes on this one here: #2936

[2016-02-12 23:25] toupeira commented on #2899
@rdbartlett actually I think "Open" (or at least the "How do people join?" sub-form) does make sense for a sub-group of a closed/secret parent, if I want parent members to be able to join without confirmation.

Note that I just suggested the opposite in https://github.com/loomio/loomio/issues/2938#issuecomment-183511587, but I forgot about the confirmation part :)

[2016-02-13 22:58] alannallama opened #2940 "Emoji link breaks tab+enter to post comment"
Pressing tab + enter to post is a pretty standard UI element for lots of tools. But the way the emoji link has been set up on Loomio means that if you type a comment and press tab + enter, you get the emoji menu instead of posting your comment. It's a small thing, but I think Loomio should stick to standards like this when possible.

[2016-02-14 02:50] gdpelican commented on #2940
This'll be fixed before you can say :hankey:

[2016-02-14 02:55] gdpelican commented on #2691
Hey @fauno , we're just about to merge in a new [plugin architecture](https://github.com/loomio/loomio/pull/2863), and I think the 'adding new voting positions' might make for a super interesting addition. Wonder if there's a diff of some kind out there of how you got that going?

(I couldn't help but notice you've got an ether-pad integration of some kind on there as well, which would be another

[2016-02-14 19:37] rdbartlett opened #2943 "Links in markdown should open in new tab"

[2016-02-14 19:38] rdbartlett commented on #2943
I believe this behaviour changed with the release of emojis

[2016-02-14 19:41] robguthrie commented on #2899
Just chirping in here to say that I'm adding a bunch of tests for the group form today. I've found a few bugs already. I'll report back here with what I found, tomorrow.

[2016-02-14 20:18] rdbartlett commented on #2899
Thanks for the thought @toupeira

I did a major design project on this last year. You can [read my reasoning here](https://docs.google.com/document/d/1ptGmf6HYH8g_dQM_-xuB6SrEE0IWpY9Mik6z4v7yLOY/edit?usp=sharing) to get full context. Basically, I think **Secret** should always mean the group is only known to people I tell about it, and **Open** should always mean all the content is public on the w

[2016-02-14 21:17] alannallama commented on #2943
+1 - just noticed this in the last few hours

[2016-02-14 21:21] gdpelican commented on #2943
It's fixed already, it'll be deployed soon.

On Mon, Feb 15, 2016 at 10:17 AM, Alanna <notifications@github.com> wrote:

[2016-02-14 21:23] toupeira commented on #2899
@robguthrie good to hear :+1:

@rdbartlett thanks for linking that document which clears things up nicely, I agree that the definitions shouldn't be polluted further and was reluctant to suggest it at first. So if I understand correctly this is what I want (in italics):

And all that's missing is the ability to "join by request".

I think the "needs approval" permission should be a checkbox on all

[2016-02-14 21:31] mhjb commented on #2899
+1 to that @toupeira

[2016-02-14 22:10] rdbartlett commented on #2899
Yeah I think I'm +1 to that too :)

On Mon, Feb 15, 2016 at 10:31 AM mhjb <notifications@github.com> wrote:

[2016-02-14 23:02] mhjb opened #2946 "Notifications don't always jump to comment"
![](http://g.recordit.co/POu0psRpVS.gif)

[2016-02-15 01:12] alannallama opened #2948 "Previous Proposals are not linked to discussion threads"
If you browse the previous proposals in the group, there seems to be no way to get from there to the actual discussion/proposal. For example, today I was looking through the archive of decisions and I wanted to click the title and go to the discussion so I could add a comment asking for a followup. But the title is just text, not a link. In order to find that discussion and comment on it, I had to

[2016-02-15 02:31] #2943 closed

[2016-02-15 02:31] #2940 closed

[2016-02-15 02:33] gdpelican commented on #2931
We've cleared out a bunch of these errors, and should be doing much better on rendering emails and beta pages with emojis. I've reactivated the errbit errors for these, and let me know if there are further instances of this which come through.

[2016-02-15 02:33] #2931 closed

[2016-02-15 07:41] robguthrie commented on #2899
@toupeira the group form fixes are live now. I hope that clears up most of the confusion.

I'm just now catching up on what you're requesting. I see you want a group that is Open to members of the parent group (I think of this as the Organisation), but otherwise secret, and you want to be able to select per thread if the members of the parent can see the thread or not?

[2016-02-15 07:49] robguthrie commented on #2948
You're right! It's really sad huh. Thanks for chiming in about it, that helps us prioritise the work. We'll look at it tomorrow.

[2016-02-15 13:39] toupeira commented on #2899
@robguthrie yep pretty much, also see my [Loomio discussion here](https://www.loomio.org/d/Rg4rW70Y/permission-model-for-use-in-a-company). Thanks a lot for the fixes, will try them out soon!

[2016-02-15 21:25] toupeira opened #2951 "Join subgroups of secret parents without approval"
Follow-up issue to https://github.com/loomio/loomio/issues/2899#issuecomment-183980261

See [design doc](https://docs.google.com/document/d/1ptGmf6HYH8g_dQM_-xuB6SrEE0IWpY9Mik6z4v7yLOY/edit?usp=sharing) and [mockup](https://projects.invisionapp.com/share/MW4OZVNCT#/screens):

![selection_001](https://cloud.githubusercontent.com/assets/6501/13060566/db9bc9ee-d432-11e5-88bc-d669b750bfb9.png)

Curren

[2016-02-15 21:54] toupeira opened #2952 "Can't save when switching closed subgroup to secret"
Steps to reproduce:

1. Create group
2. Create sub-group with level "Closed" and "Members of ... can see private threads" checked
3. Edit the sub-group and change the level to "Secret"
4. Clicking "Update settings" asks for confirmation but doesn't save and close the dialog, the server responds with 422 Unprocessable Entity

Workaround is to uncheck the permission before saving.

[2016-02-15 21:56] toupeira commented on #2938
@mhjb I'm sorry for hijacking your issue, didn't see all the other related issues and will search first in the future ;-)

The UI fixes from #2899 seems to have resolved most of the bugs I encountered and I added #2952 for the checkbox bug I described above.

[2016-02-15 22:06] rdbartlett commented on #2948
@mhjb is going to update the design for this :)

[2016-02-15 22:09] rdbartlett commented on #2946
Let's start by making sure all notification URLs are using the same encoding.

[2016-02-15 22:11] rdbartlett commented on #2938
@robguthrie has got a fix for this issue coming. Thanks @toupeira for your new issue. Let's chat soon!

[2016-02-15 22:13] rdbartlett commented on #2930
@gdpelican is cherrypick the solution to this out of an old branch soon/one day.

[2016-02-15 22:15] #2929 closed

[2016-02-15 22:18] rdbartlett commented on #2911
I'm not sure how to reproduce this - can you confirm that it's still buggy?

[2016-02-15 22:20] rdbartlett commented on #2907
Let's re open when we see this next

[2016-02-15 22:20] #2907 closed

[2016-02-15 22:28] rdbartlett commented on #2911
I'm going to close this issue and we can solve it on #2900 :)

[2016-02-15 22:28] #2911 closed

[2016-02-15 22:29] rdbartlett commented on #2899
Woohoo thanks Rob!

[2016-02-15 22:29] #2899 closed

[2016-02-15 22:30] rdbartlett commented on #2898
If `payment_method: manual`, don't show manage subscription link

[2016-02-15 22:32] robguthrie commented on #2888
fixed, yay, closed

[2016-02-15 22:32] #2888 closed

[2016-02-15 22:32] rdbartlett commented on #2897
Can we confirm we're using lmo-href for search results? If that is not the case, and we can easily put it in, that is a nice fix.

[2016-02-15 22:34] rdbartlett commented on #2837
@HSalmon wanna bump the max on this to 1000?

[2016-02-15 22:35] #2829 closed

[2016-02-15 22:37] robguthrie commented on #2818
Hi @whit537 I'm going to remove your design request issues.. We've recorded them into our design doc, where they will influence upcoming designs, but we want to close these issues for now.

Thanks for your input!

[2016-02-15 22:37] #2818 closed

[2016-02-15 22:38] #2811 closed

[2016-02-15 22:38] #2813 closed

[2016-02-15 22:38] #2815 closed

[2016-02-15 22:38] #2817 closed

[2016-02-15 22:40] rdbartlett commented on #2782
So if you post a comment mentioning a random username @poopfart, it should not be rendered like a valid mention.

[2016-02-15 22:41] rdbartlett commented on #2782
What about @123klasdlasklae0120120asdadsasiispppsklasdhh?

[2016-02-15 22:43] mhjb commented on #2779
I'll tackle this

[2016-02-15 22:45] rdbartlett commented on #2948
Let's also make sure we fix #2777 when we implement the next change to previous proposals.

[2016-02-15 22:46] #2774 closed

[2016-02-15 22:47] rdbartlett commented on #2773
That's an awesome idea @fauno - let's do a tick with a message explaining that it has been marked as read on Loomio.

[2016-02-15 22:48] rdbartlett commented on #2946
Related to #2770.

[2016-02-15 22:49] #2768 closed

[2016-02-15 22:50] rdbartlett commented on #2749
This breaks my heart. Thanks for the excellent report @jessykate - is this Chrome?

[2016-02-15 22:52] #2743 closed

[2016-02-15 22:56] rdbartlett commented on #2707
Thanks for the exquisite bug report @gardner. This is actually by design, coz we thought that is the best we could do at the time due to the limitations of uploading to S3. When we review how we're doing attachments, it would be ideal to tie thread privacy to the attached file.

[2016-02-15 22:59] rdbartlett commented on #2691
OMG etherpad integration :heart:

[2016-02-15 22:59] rdbartlett commented on #2567
Fixed! Thanks Greg

[2016-02-15 22:59] #2567 closed

[2016-02-15 23:00] rdbartlett commented on #2222
@robguthrie will fix it!

[2016-02-15 23:01] robguthrie commented on #2219
Thanks for sharing this. We're going to close the issue but really appreciate this contribution!

[2016-02-15 23:01] #2219 closed

[2016-02-15 23:12] toupeira commented on #2900
Seems to be an Angular issue, the link is fine if you navigate to the sub-group from the parent, but if you load/reload the sub-group directly you'll get `undefined`.

[2016-02-15 23:54] robguthrie commented on #2952
Yikes! Thanks, I'll fix it shortly!

[2016-02-16 02:16] alannallama opened #2956 "Link to comment from notification broken"
If I hover over this notification...
<img width="327" alt="screen shot 2016-02-16 at 3 14 53 pm" src="https://cloud.githubusercontent.com/assets/5498878/13065320/10a1578e-d4c0-11e5-9458-7dce97649ad7.png">

The status bar indicates it should link to https://www.loomio.org/d/Hzvy54Is/members-retreat-reflections?comment=916607, but when I click it, it actually sends me to https://www.loomio.org/d/Hzv

[2016-02-16 03:11] rdbartlett commented on #2956
Thanks for the great report Alanna. Let's fix this on #2946.

[2016-02-16 03:11] #2956 closed

[2016-02-16 03:12] rdbartlett commented on #2770
Let's fix this on #2946.

[2016-02-16 03:12] #2770 closed

[2016-02-16 03:22] #2837 closed

[2016-02-16 03:48] robguthrie commented on #2770
uhm... I would not support reloading the page, but I reckon there must be a
way for the ScrollService to register what's happened here and do it's
thing..  Happy to put it off for a while.. the router issue is such a pain,
but I think we're really close to getting a new angular router release
backported from 2.0

On Tue, 16 Feb 2016 at 16:12 Richard D. Bartlett <notifications@github.com>
wrote:

[2016-02-16 13:06] whit537 commented on #2818
Thanks @robguthrie. Is this the [design doc](https://docs.google.com/document/d/1Wh8cON7fyUgUUwtRMdV7bJYTCY0QxkMeF7Zi7AG9y3M/edit) you're talking about?

[2016-02-16 21:12] robguthrie commented on #2818
nope!

On Wed, 17 Feb 2016 at 02:06 Chad Whitacre <notifications@github.com> wrote:

[2016-02-16 21:13] toupeira commented on #2900
Slightly related: editing a discussion (opening the dialog through the arrow-menu) changes the URL to `/true`, which leads to a 404 on reload.

[2016-02-16 21:15] whit537 commented on #2818
Ooooookay ... I just searched the wiki and the README in this repo and came up empty as well. Can you share a link to the design doc? :-)

[2016-02-16 23:10] mhjb opened #2963 "Emoji not rendering in markdown heading"
![image](https://cloud.githubusercontent.com/assets/1380991/13094413/591cc728-d56f-11e5-8c2c-eabd65e60839.png)
![image](https://cloud.githubusercontent.com/assets/1380991/13094419/64ad2d4e-d56f-11e5-9f47-b13f750cdbc1.png)

[2016-02-17 00:09] yhordi commented on #2909
I was hoping to take this as my first contribution, though I am having a difficult time finding out where in the codebase the pieces that fit together with slack are, or how to test their output. Would you be able to give me some direction as to where I might look?

[2016-02-17 00:33] gdpelican commented on #2909
Hey @yhordi

Take a look at this for how to set up a slack integration on your instance:
https://loomio.gitbooks.io/tech-manual/content/setup_slack.html

The offending code is likely in the `app/models/slack/` folder; those files are building a JSON payload and shooting it off to an endpoint you provide on your Webhook model.

Also, we're pretty imminently moving this functionality to a plugin, so

[2016-02-17 00:37] gdpelican commented on #2930
Fixed in #2960

[2016-02-17 00:37] #2930 closed

[2016-02-17 00:40] gdpelican commented on #2898
Fixed in #2955

[2016-02-17 00:40] #2898 closed

[2016-02-17 00:40] gdpelican commented on #2897
Fixed in #2954

[2016-02-17 00:40] #2897 closed

[2016-02-17 00:46] rdbartlett commented on #2818
Hey @whit537 we're upgrading our design and contribution processes at the moment. We'll update the repo when we have a process that is ready for your input :)

[2016-02-17 01:18] whit537 commented on #2818
Okay, thanks @rdbartlett.

[2016-02-17 01:41] yhordi commented on #2909
Awesome! I'll take a look.
Thanks for all the helpful info.

[2016-02-17 01:47] jessykate commented on #2749
Yes!

On Mon, Feb 15, 2016 at 2:51 PM -0800, "Richard D. Bartlett" <notifications@github.com> wrote:

This breaks my heart. Thanks for the excellent report @jessykate - is this Chrome?

—
Reply to this email directly or view it on GitHub.

[2016-02-17 09:07] gdpelican commented on #2963
Fixed #2965

[2016-02-17 09:07] #2963 closed

[2016-02-17 10:46] gdpelican commented on #2909
I just had a wander through this, and went 'oh geez, code I wrote a year ago, gross!'

Anyway, I think what we want here is to override `slack/motion_closing_soon.rb#text` the same way we do in `slack/new_discussion.rb#text`, to show the discussion title in that field rather than the proposal title, which is maybe-less-than-sensible default defined in `slack/base.rb`.

[2016-02-17 20:09] rdbartlett opened #2971 "vote icons rendering too big in notification emails since we introduded emojis"
![image](https://cloud.githubusercontent.com/assets/970124/13123068/2c9536ee-d61f-11e5-8bd7-67d74b5025bd.png)

[2016-02-17 20:09] gardner commented on #2707
It looks like an attacker would need to brute force the md5 hash as well as the filename. To brute force the md5 sum it could take up to 2,339,099,464,253,592,691 tries. I am not sure what the limits are on s3 filenames so I can't say how difficult it would be to brute force but I'm going to close. We can always reopen it after terabit internet and quantum computers become common things.

[2016-02-17 20:09] #2707 closed

[2016-02-17 20:25] #2938 closed

[2016-02-17 20:30] #2188 closed

[2016-02-17 20:30] #2166 closed

[2016-02-17 20:33] #2005 closed

[2016-02-18 09:57] gdpelican opened #2977 "Close button on 'invite members from subgroup' modal"
Minor quibble:

Clicking on the 'close' button here closes the modal entirely; I'd expect it to say 'back' and allow me to go back to the 'invite people' form, where I was before.

![screen shot 2016-02-18 at 10 54 36 pm](https://cloud.githubusercontent.com/assets/750477/13139687/9dd4865c-d692-11e5-9ef7-c6743da48295.png)

[2016-02-18 19:35] #2779 closed

[2016-02-19 00:19] rdbartlett opened #2979 "Make it more obvious that your vote failed due to the statement being too-long"
![image](https://cloud.githubusercontent.com/assets/970124/13162687/4a7d3796-d70b-11e5-97c4-e8e74e615d26.png)

If you submit a vote with a too-long statement, it should give a friendly error message, in addition to the red number. Something like "Please keep your statement under 250 characters. This provides a concise summary for people catching up with the proposal."

[2016-02-19 07:08] mhjb commented on #2979
Submit position (awkward phrase) should at least disable, eh

[2016-02-19 09:20] toupeira commented on #2951
It would be also nice to have a *"Members of {{Parent Group}} can participate in threads in this subgroup"* permission on subgroups, so users don't have to explicitly join when they want to chip in on a random discussion, and can thus avoid confusion/email overload/having to change notification settings.

Looking at [`Ability#user_is_member_of?`](https://github.com/loomio/loomio/blob/dcb105b3eec99

[2016-02-21 20:35] GeorgeDewar opened #2981 "loomio.org references insecure resources"
loomio.org does not show as secure in Chrome (and probably all browsers) because it references some resources over http.

![image](https://cloud.githubusercontent.com/assets/5344417/13205204/71b906a8-d947-11e5-813a-a3cb3b8168ac.png)

As the console warnings say, these should be referenced over https.

[2016-02-21 20:40] rdbartlett commented on #2981
Good spotting thanks George. I can confirm that those links would still work if they were being requested over https. I'm not sure where in the code that URL is being composed though.

[2016-02-22 00:20] gdpelican commented on #2981
I'll take this one actually @HSalmon ; I'll just have to update the values in the production DB. Thanks for the catch @GeorgeDewar , should be sorted soon.

[2016-02-22 00:30] gdpelican commented on #2981
Looks good to me in prod!

[2016-02-22 00:30] #2981 closed

[2016-02-22 00:57] gdpelican commented on #2948
I reckon it'd be a nice easy improvement to make that title a link to the discussion page; wonder if you'd be willing to put this on your list @HSalmon ?

[2016-02-22 01:49] HSalmon commented on #2948
Can do!

[2016-02-22 03:52] #2977 closed

[2016-02-22 04:08] gdpelican opened #2987 "Set proposal modal closes on background click"
http://g.recordit.co/a7oVFedwg9.gif

[2016-02-22 04:16] gdpelican opened #2988 "Show emoji title on hover"
When an emoji is in a thread, I should be able to see what emoji it is by hovering over it.

[2016-02-22 07:49] rdbartlett opened #2990 "When my proposal closes I should get a notification prompting me to set an outcome"

[2016-02-22 07:49] rdbartlett opened #2991 "The most recent proposal in a thread should be expanded even after the closing time has elapsed"

[2016-02-22 19:48] Connoropolous opened #2992 "which node version does the angular app use?"
and maybe it should/could be specified in the package.json :)

[2016-02-22 19:52] Connoropolous opened #2993 "Remove Persona from the sign in options"
![screen shot 2016-02-23 at 8 50 24 am](https://cloud.githubusercontent.com/assets/1409121/13230552/ae077702-da0a-11e5-8a5b-eb22890f0df4.png)

from: https://developer.mozilla.org/en-US/Persona

[2016-02-22 20:19] gdpelican commented on #2992
We're on 4.2.6; I think @gardner mentioned the other day that you can specify the version in the 'engines' field in package.json; would you be up for throwing that in, @Connoropolous ?

[2016-02-22 20:20] gdpelican commented on #2990
I believe we only need an angular template to get this one rockin'

![screen shot 2016-02-22 at 8 50 50 pm](https://cloud.githubusercontent.com/assets/750477/13231416/ae780e78-da0e-11e5-9b3c-884aee7b3c59.png)
(^^ no motion_closed)

[2016-02-22 20:21] Connoropolous commented on #2992
yep, I'd be happy to. I'm trying it out right now with node 5.5.0 and npm
3. A couple small issues (because it flattens a lot of the node_modules
folder tree) but looking promising. I'll put something in when I get
further along

On Tue, Feb 23, 2016 at 9:19 AM, James Kiesel <notifications@github.com>
wrote:

--
Connor Turland
~to craft a sustainable and thriving culture within and without myself~

[2016-02-22 20:21] gdpelican commented on #2993
Yep, we've discussed this but haven't gotten to it. But now that there's an issue, someone will likely pick it up, thanks.

[2016-02-22 20:23] gdpelican commented on #2992
I specifically couldn't get it to work with node >5, which is why we're
playing it safe with the latest 4 version at the moment.

On Tue, Feb 23, 2016 at 9:21 AM, Connor Turland <notifications@github.com>
wrote:

[2016-02-22 22:03] mhjb opened #2996 "New chargify subscriptions not reflected in subscriptions table"

[2016-02-22 22:29] Connoropolous commented on #2921
I've got it working with the webhooks plugin now, and read the plugin docs.

Yeah, I'd be interested to try and add the functionality I was outlining to the plugin.

The benefit to users is that they don't ever have to look at the 'custom integrations' panel of their slack team. They just look in 'apps' , they see Loomio, and they add it or remove it. Internally, the Loomio slack app is configured

[2016-02-23 01:41] #2979 closed

[2016-02-23 02:41] #2996 closed

[2016-02-23 02:43] gdpelican commented on #2935
Closing this for now as we don't have plans to fix this. Keep an eye out in the near future for a shiny new explore page in the angular interface!

[2016-02-23 02:43] #2935 closed

[2016-02-23 02:45] gdpelican commented on #2691
Closing this; would be cool to see a plugin in this direction at some point.

[2016-02-23 02:45] #2691 closed

[2016-02-23 04:23] peterwallhead commented on #2935
@gdpelican, that's cool. I couldn't run Loomio up anyway to work on this because I'm on a Windows box.

[2016-02-23 20:46] robguthrie commented on #2988
So yea.. I was thinking this too. Currently the alt text is the emoji in
unicode.. which made me think: "What is that like for screenreaders?" I
think updating it to use the name of the emoji as the alt code would be
good.

On Mon, 22 Feb 2016 at 17:16 James Kiesel <notifications@github.com> wrote:

[2016-02-23 20:48] gdpelican commented on #2988
Yep. The code that does that is buried in the emojione library at the
moment, but we should be able to find some way to do this.

On Wed, Feb 24, 2016 at 9:46 AM, Robert Guthrie <notifications@github.com>
wrote:

[2016-02-23 21:44] rdbartlett opened #3002 "Logged in angular user should redirect from https://www.loomio.org/start_group to https://www.loomio.org/dashboard?start_group=true"

[2016-02-24 01:09] rdbartlett opened #3007 "Invitation form selects wrong group"
When I'm on a thread
and I select Invite People from the Floating Action Button
the group select should be prepopulated with the group the thread lives in.

[2016-02-24 06:06] gdpelican opened #3009 "Able to see subgroups I'm not a member of"
@natiloomio has had a couple reports of users seeing subgroups they were not a member of. Might take a little investigation.

[2016-02-24 06:18] #2987 closed

[2016-02-24 06:18] #2991 closed

[2016-02-24 06:19] #2990 closed

[2016-02-24 07:40] #2971 closed

[2016-02-24 21:34] gdpelican opened #3011 "Host emojis on Loomio server"
instead of emojione cdn

[2016-02-24 22:57] toupeira opened #3013 "Anonymous users don't get Angular UI"
For example if you visit https://www.loomio.org/g/WmPCB3IR/loomio-community in incognito mode you'll get the old design.

[2016-02-24 23:08] gdpelican commented on #3013
Why, I was just working on this today! There's a hurdle around making sure that googlebot (which is always logged out) can effectively index our content within the new interface.

[2016-02-24 23:43] toupeira commented on #3013
Well look at that, I did make sure to search the issues but didn't think to check the PRs ;-)

And yep I forgot about indexing, I know [prerender_rails](https://github.com/prerender/prerender_rails) works well, but there might be simpler options that don't require running another service.

[2016-02-25 00:35] gdpelican opened #3015 "'Mark as read' in Yesterday on Loomio should be removed"
Because we mark everything as read upon reading the email.

[2016-02-25 00:46] gdpelican opened #3016 "Can't interpolate {{privacyKey()}} error"
Reproed on prod here: https://www.loomio.org/d/Z5wFLhOc/data-portability-and-loomio-member-size-limit-reasons

![screen shot 2016-02-25 at 1 43 11 pm](https://cloud.githubusercontent.com/assets/750477/13306151/098fba78-dbc6-11e5-8e0a-8219247c96fa.png)

[2016-02-25 02:44] HSalmon opened #3019 "Welcome modal appears for subgroups as well as parent"

[2016-02-25 07:04] rdbartlett opened #3021 "Change user mentioned email title to include discussion title"
When someone mentions me in two different threads in one group, the subject line is the same for both messages. This means my email client stacks both messages into one email thread, so the reply-to function is clumsy and confusing.

Suggested solution:
replace the subject line "Robert Guthrie mentioned you in the Loomio Community - Contributors group on Loomio" with a line like "Robert Guthrie me

[2016-02-26 02:30] mhjb opened #3024 "Start thread privacy notice wrong"
This is a secret subgroup.

![image](https://cloud.githubusercontent.com/assets/1380991/13341448/b37b5592-dc9d-11e5-92f4-d9c11fd4d005.png)

[2016-02-26 02:34] robguthrie commented on #3024
@gdpelican could this be a drafts issue? I cannot reproduce it

[2016-02-26 02:39] mhjb commented on #3024
It might have involved a draft, but if so it was an empty one.

[2016-02-26 02:40] gdpelican commented on #3024
It's totally a draft thing. Have to take some some to reproduce to figure
how exactly what's going on though.

[2016-02-26 02:41] robguthrie commented on #3024
I wonder if you can look into the produciton db and see

On Fri, 26 Feb 2016 at 15:40 James Kiesel <notifications@github.com> wrote:

[2016-02-26 19:40] gdpelican commented on #3019
Should be a one-line fix in `showWelcomeModal` in `GroupPageController`

[2016-02-26 22:02] gdpelican opened #3027 "Remove pending tests / warnings from protractor"
![screen shot 2016-02-27 at 11 00 43 am](https://cloud.githubusercontent.com/assets/750477/13366643/8a1f0c76-dd41-11e5-978d-04ec3e8e836e.png)

[2016-02-26 22:09] #3007 closed

[2016-02-26 22:09] #2992 closed

[2016-02-26 22:11] gdpelican commented on #2992
I've added an engines entry to the package.json file here: #3026 which will track versions of npm and node known to work with the current Loomio.

[2016-02-26 22:13] #3015 closed

[2016-02-26 22:13] #2767 closed

[2016-02-27 20:19] #2222 closed

[2016-02-27 20:20] #2094 closed

[2016-02-27 20:25] #1755 closed

[2016-02-28 20:09] HSalmon commented on #3019
@robguthrie, did you want me to leave this until we've had a think about how the Welcome Modal should function?

[2016-02-28 21:50] gdpelican opened #3029 "Validation error for upload attachment"
"File has contents that are not what they are reported to be"

This seems to occur primarily for .doc and .txt files; I can confirm a repro by renaming a .png to .txt, and uploading it.

The end user's still getting a 422 (which is expected), so really I just want us to not throw this error.

[2016-02-28 21:50] gdpelican commented on #3029
http://errbit.loomio.org/apps/56ba953e316565000e000002/problems/56c864bb36376400df000009

[2016-02-28 21:53] gdpelican opened #3030 "Creating a group while logged out throws an error"
http://errbit.loomio.org/apps/56ba953e316565000e000002/problems/56d183f336376401140001b2

I'm thinking this may be an edge case where someone's session expired before they made this request, but if a logged out user tries to create a group we shouldn't throw an error.

[2016-02-28 22:13] gdpelican opened #3031 "Invitations with no inviter are breaking the group#export view"
http://errbit.loomio.org/apps/56ba953e316565000e000002/problems/56d37006363764011d0001aa

We want to delegate the name (instead of using a method), but allow inviter to be nil.

[code]

[2016-02-28 23:51] HSalmon commented on #3029
Is the **Security Validations** part of the documentation relevant?

https://github.com/thoughtbot/paperclip#validations

[2016-02-28 23:54] gdpelican commented on #3029
Don't think so... we're stating `do_not_validate_attachment_file_type` (I
think to keep backwards compatibility with beta), but once we move to all
angular all the time we'll want to constrain to certain file types of our
choosing (probably images, pdfs, .doc/.xls etc.) We probably don't want
folks uploading video.

On Mon, Feb 29, 2016 at 12:51 PM, HSalmon <notifications@github.com> wrote:

[2016-02-28 23:57] HSalmon commented on #3029
So the all attachments are required to have a content_type validation thing is not relevant?

[2016-02-29 03:41] robguthrie commented on #3019
nope. go ahead fix!

On Mon, 29 Feb 2016 at 09:09 HSalmon <notifications@github.com> wrote:

[2016-02-29 07:45] s8321414 opened #3032 "Add wide layout for PC"
Some PC has a wide screen (like 16:9 or other ratio), but we have a narrow layout (at least I think :P) on PC.
I will be glad to see if we have one option about this.

[2016-02-29 07:49] gdpelican commented on #3032
Hi @s8321414

Would it be possible to take a screenshot of the layout you're finding hard to navigate? It's very possible we want to jump to a single column layout at slightly wider widths than we do now.

[2016-02-29 08:04] s8321414 commented on #3032
Like ![this](https://cloud.githubusercontent.com/assets/9457283/13388760/dc183364-defd-11e5-8a1e-493642894ca3.png)
It's not hard to navigate, but I think if we can add an option to choose which layout they want to use, it will be great!

[2016-02-29 08:09] s8321414 commented on #3032
I think there is too much space in two sides :P

[2016-02-29 10:34] gdpelican commented on #3032
Ah yes, I understand now!

It is in the plan for this year to add a sidebar with additional links and information to the dashboard and inbox pages... so there will be more content there at some point. An option for a wider view is a good idea too.

I also found it fascinating to read up a little on the differences between western and eastern web design... difficult to write one website for everyon

[2016-02-29 11:52] s8321414 commented on #3032
\o/

[2016-02-29 19:53] mhjb opened #3033 "Strip markdown for meta tags"
![image](https://cloud.githubusercontent.com/assets/1380991/13406958/feff96d2-df8a-11e5-8a6f-79fc5f9a1eb7.png)

[2016-02-29 20:14] rdbartlett commented on #3032
Something like this Jeff:

![dashboard - default view](https://cloud.githubusercontent.com/assets/970124/13407586/fb06f680-df8d-11e5-8174-7d8eade7e036.png)

[2016-02-29 20:54] gdpelican commented on #3032
Going to close this for now, but know that it's definitely on our longer term roadmap.

[2016-02-29 20:54] #3032 closed

[2016-02-29 21:02] robguthrie commented on #3033
Interesting. Maybe we can strip markdown for the meta tags.

On Tue, 1 Mar 2016 at 08:53 mhjb <notifications@github.com> wrote:

[2016-02-29 23:14] gdpelican opened #3034 "Clicking on a notification on the page that I'm on should take me to the relevant content"
For clicking on a proposal notification, should expand and scroll to that proposal

For clicking on a comment notification, should scroll to comment if it is loaded already, or reload the page if it is not.

[2016-02-29 23:15] gdpelican commented on #2946
Closed in #3028

[2016-02-29 23:15] #2946 closed

[2016-03-01 00:08] s8321414 commented on #3032
@rdbartlett Ah, it's better!

[2016-03-01 01:03] gdpelican commented on #2951
Hm, I keep breezing by this, and haven't quite gotten together enough thoughts for a response.

Some thought fragments:
- Our group privacy settings have just moved from being overly complicated to pretty simple. I'd really love to get to a place where the privacy settings are super-dead simple, and then complicate from there if need be (and probably through plugins rather than complicating core)

[2016-03-01 02:27] gdpelican commented on #3021
@rdbartlett Do you think we need different email subjects based on whether you're following a discussion or not?

[2016-03-01 02:28] #3019 closed

[2016-03-01 02:28] #3031 closed

[2016-03-01 02:29] gdpelican commented on #3002
Do you have a block on this one @HSalmon ?

[2016-03-01 02:54] gdpelican commented on #2993
This might be a good medium-sized project for you, @HSalmon .

Steps in my head
- Search the repo for references to persona (notably buttons on the signup form, and references to Persona in any omniauth controllers) and remove them.
- Create an account with persona (could be on production), then ensure that you can create a normal password for yourself by using the reset password flow.
- If you ca

[2016-03-01 03:32] gdpelican opened #3040 "UI tidbits"
https://trello.com/c/gGe64Adr/1228-possible-css-and-ui-improvements

@AaronThornton00 's made some good suggestions for several visual improvements. I agree whole-heartedly with all of them except for maybe the feedback height one. (The misaligned icons and the stroke label in particular bug me quite a bit :) )

Would be nice to knock these out, @HSalmon ?

[2016-03-01 06:04] #3030 closed

[2016-03-01 20:01] rdbartlett opened #3041 "Extend google OAuth token expiration"
bug report from Jessy Kate - "ios (iPhone 6S) oauth login using chrome. not sure if this is a configuration issue or what, but the auth only lasts like 24 hours. so i constantly have to re-login. (i’m using google for login)"

[2016-03-01 21:44] gdpelican commented on #1918
Can anyone confirm if this is still a thing?

[2016-03-01 21:45] gdpelican commented on #1848
plugins. Plugins! PLUGINS!!!

Rebranding this as 'pull out loomio.org specific stuff into a plugin'

[2016-03-01 21:46] gdpelican commented on #1848
Let's have a chat about this today @HSalmon

[2016-03-01 21:48] #3021 closed

[2016-03-01 21:49] robguthrie commented on #1848
oooohhh yea

On Wed, 2 Mar 2016 at 10:45 James Kiesel <notifications@github.com> wrote:

[2016-03-02 01:48] #3016 closed

[2016-03-02 04:16] HSalmon commented on #3040
Having not a very good time trying to do these minor tweaks, must admit.

[2016-03-02 06:51] #3002 closed

[2016-03-02 18:18] mhjb opened #3045 "Adding or editing cohorts gives error"
"We're sorry, but something went wrong.

We've been notified about this issue and we'll take a look at it shortly.

Return to your home page"

The cohorts do get successfully created or updated, though.

[2016-03-02 19:07] toupeira commented on #2951
@gdpelican no hurries, thanks for your thoughts! Let me try and chip away at your doubts a bit :)

I just don't see the rationale behind having the "How do people join" setting only available on "Open" groups, it makes sense to not have it on "Secret" (because you obviously can't join a group you can't see) but I would argue that having it on "Closed" as well would actually *reduce* complexity.

O

[2016-03-02 19:54] rdbartlett opened #3046 "Margin misalignment"
Vote name and vote statement should be aligned

![image](https://cloud.githubusercontent.com/assets/970124/13473263/7c1377d6-e11d-11e5-9aa0-3f4f746375e6.png)

[2016-03-02 19:55] gdpelican commented on #3045
Relevant errbit error:
http://errbit.loomio.org/apps/56ba953e316565000e000002/problems/56d72ddb363764013300032b

Rob or I probably ripped out something we shouldn't have when hacking off the old AAARRR table a bit ago.

[2016-03-02 19:58] gdpelican commented on #3041
This seems simple to me but I can't find where we're doing this or how to change it from a cursory glance. Will get back to it. Seems low-ish priority.

[2016-03-02 20:08] #3040 closed

[2016-03-02 20:31] mhjb commented on #3045
Possibly relevant — when I next visited loomio.org (as opposed to loomio.org/admin), I got a toast: "Cohort was successfully created"

[2016-03-02 22:17] gdpelican commented on #3024
I can't repro this to save my life, and see no evidence of it in the prod DB. Are you still seeing this in a particular place, @mhjb ?

[2016-03-02 22:38] rdbartlett commented on #3024
(It's working properly for me on Contributors and Co-op Members subgroups)

[2016-03-02 23:19] mhjb commented on #3024
Still erroring for me — I could demo if that would be any help.

I notice there are 267 rows in the drafts table with my user_id on … a clue?

On 3 March 2016 at 11:38, Richard D. Bartlett <notifications@github.com>
wrote:

[2016-03-02 23:27] rdbartlett opened #3049 "Add 'Formatting help' link to Start Thread form, like it is on Comment form"
![image](https://cloud.githubusercontent.com/assets/970124/13479363/35a5af08-e13b-11e5-94e2-694164440a46.png)

Pls check that the submit button is still the first item in the tab order after the Thread Context input.

[2016-03-02 23:30] rdbartlett opened #3050 "Some 'Out of Office' auto messages are being posted as Loomio comments"
Got a bug report from Equally Well, I'd love if we can filter out these Out of Office messages, or at least advise on how they can ensure their Out of Office messages conform to our filter.

I can share a copy of the offending message with anyone investigating this.

[2016-03-02 23:36] robguthrie commented on #3050
send it to me, Rich.

On Thu, 3 Mar 2016 at 12:30 Richard D. Bartlett <notifications@github.com>
wrote:

[2016-03-02 23:38] rdbartlett commented on #3050
Done. Thanks Rob

[2016-03-03 03:08] #3046 closed

[2016-03-03 03:08] #3045 closed

[2016-03-03 04:14] #2993 closed

[2016-03-03 04:15] #3034 closed

[2016-03-03 22:11] rdbartlett opened #3058 "Misaligned links"
![image](https://cloud.githubusercontent.com/assets/970124/13511282/7d736438-e1f9-11e5-8800-b2259653913a.png)

The two links on the form are out of alignment with the rest of the form inputs. I think .lmo-link just needs padding:0 on it, but I'm not sure if that will break things elsewhere.

[2016-03-04 09:38] toupeira commented on #2951
I just realized I can't even add members directly as group coordinator or through the administration, it seems I can only trigger invitations which the users have to accept first :cry:

I have a feeling you're not dog-fooding the secret groups enough, I think you'd see my pain points pretty quickly if you did ;-)

[2016-03-04 10:05] gdpelican commented on #2951
Er, you can add members of the parent group directly to a subgroup if you're a coordinator:
http://g.recordit.co/jHR73KU74c.gif

We've used secret groups pretty extensively internally, and they've met our needs (and the needs of our customers) pretty well thus far. We welcome the feedback, but I'd suggest that if this is something you feel strongly about, you have the agency to be the change you w

[2016-03-04 10:26] toupeira commented on #2951
@gdpelican yes sorry I was talking about the (also secret) parent group, I don't have the option there of adding members directly like on subgroups, which again seems like a needless distinction to me and an opportunity to reduce complexity ;-)

I would be totally willing to implement these changes in core, if you're saying you'll accept them:

- Add the "How do people join" setting on closed pare

[2016-03-04 12:53] gdpelican commented on #2951
Ah, it did actually behave this way (adding members directly) at one point; we've changed it because we had a wave of complaints of folks being added to groups they had no interest in being a part of, and sometimes being disoriented by a ton of unread content which they may not have signed up for or have any interest in, especially when it's not immediately obvious where all this new stuff came fr

[2016-03-05 04:40] gdpelican opened #3060 "Link to zh-TW help manual"
We've had a translator kindly translate the user help manual into zh-TW, so we should add a line to `UserHelpService` to link to it for Taiwanese / Chinese users.

[2016-03-05 06:28] s8321414 commented on #3060
:+1:

[2016-03-06 22:04] gdpelican commented on #2952
Fixed in #3061

[2016-03-06 22:04] #2952 closed

[2016-03-06 22:06] gdpelican commented on #2948
Fixed in #3048

[2016-03-06 22:06] #2948 closed

[2016-03-06 22:07] gdpelican commented on #2777
Fixed in #3048

[2016-03-06 22:07] #2777 closed

[2016-03-06 23:13] mhjb opened #3062 "Data export errors"
Visiting /g/GROUPKEY/export.html as a user with rights to use the data export feature, I get "We're sorry, but something went wrong."

[2016-03-07 00:52] gdpelican commented on #3062
@HSalmon we simply have to remove the `inviter_name` method from `invitation.rb`; I should have caught this in CR, sorry.

[2016-03-07 02:55] mhjb opened #3063 "Welcome modal video issues"
Getting started video too narrow and fullscreen button disabled.

![image](https://cloud.githubusercontent.com/assets/1380991/13559814/016516b2-e47d-11e5-9108-c903e032e713.png)

[2016-03-07 04:41] gdpelican commented on #3033
I'll take care of this in the logged out angular branch.

[2016-03-07 04:42] gdpelican commented on #3029
Closing this because I opened it and don't want to fix. Would rather deal with a few stray errbit emails over investing time in it.

[2016-03-07 04:42] #3029 closed

[2016-03-07 22:04] rdbartlett commented on #3049
I'm glad to see this link now! Can we fix the tab order though so the submit comes before the link?

[2016-03-07 22:33] rdbartlett opened #3068 "Logging out should be synced across tabs"
Just saw Michael log out of Loomio in one tab, then absentmindedly try to start a thread in another tab that was already open. There was no error message, just the modal stayed open and wouldn't submit.

Not sure of the best solution to this one.

We could do something that updates all your tabs when you log out? Or if you are logged out and try to submit a form we could kick you out at that point

[2016-03-07 22:46] HSalmon commented on #3049
@rdbartlett, do you mean add a tabindex or reorder the file?

[2016-03-07 23:28] rdbartlett commented on #3049
I don't know the best implementation, I just want to hit tab once to get
from the input field to the submit button

On Tue, Mar 8, 2016 at 11:46 AM HSalmon <notifications@github.com> wrote:

[2016-03-07 23:42] rdbartlett opened #3070 "Invite people should be showing on members page"
![image](https://cloud.githubusercontent.com/assets/970124/13587149/f9f0d7be-e52a-11e5-98ec-2372192c11dd.png)

I'm a member of a group where `members_can_add_members: true`, so I would expect to see the Invite People button on the members page.

[2016-03-08 00:01] #2909 closed

[2016-03-08 01:25] gdpelican commented on #3068
We'll want to kick em after they submit a form I think; otherwise we'll have to log them out of everything on all devices, which I don't think is that desirable. (I don't care to check and see if a client is on the same machine as the one that logged out)

This falls under the umbrella of 'better support for unhappy paths'

[2016-03-08 03:55] #3070 closed

[2016-03-08 04:02] gdpelican commented on #3033
Doesn't appear to be an out-of-the-box thingy for ruby, which is a little odd.

I think I'm going to port over this thingy from node:
https://github.com/stiang/remove-markdown

Yay making a gem!

[2016-03-08 20:23] rdbartlett opened #3075 "Clicking "edit" on the thread context takes me to loomio.org/true"

[2016-03-08 23:21] #3058 closed

[2016-03-08 23:27] gdpelican commented on #3049
I think we can put 'tabindex=0' on the formatting link and it'll be golden.

[2016-03-08 23:28] #3024 closed

[2016-03-08 23:38] #3062 closed

[2016-03-09 00:02] mhjb commented on #3062
Mind letting me know when this is deployed so I can test & tell ze client?

[2016-03-09 00:04] gdpelican commented on #2900
Seems fixed!

[2016-03-09 00:25] mhjb opened #3080 "Comment image order differs after page refresh"
![image](https://cloud.githubusercontent.com/assets/1380991/13621175/55834146-e5fa-11e5-98da-dfd072dbb4b8.png) ![image](https://cloud.githubusercontent.com/assets/1380991/13621177/5ac50f36-e5fa-11e5-909e-8cab61393759.png)

[2016-03-09 01:15] #3049 closed

[2016-03-09 01:56] #3075 closed

[2016-03-09 02:02] gdpelican commented on #3080
@mhjb do you know which one of these orders you'd prefer? I'd guess order in which you added attachments?

[2016-03-09 02:24] mhjb commented on #3080
Order in which attachments were added (which was how it appears before revisiting page)

[2016-03-09 02:25] gdpelican commented on #2742
I've had a mild first pass at something like this; which will eventually go into our design pipeline and become an actual thing:

http://g.recordit.co/0suiclgWba.gif (ignore the bug at the end >.>)
https://github.com/gdpelican/loomio_comment_preview

[2016-03-09 03:01] #3063 closed

[2016-03-09 03:10] rdbartlett opened #3085 "Cursor should look like a hand when I hover over the edit thread context link and the load earlier activity link"

[2016-03-09 03:40] gdpelican commented on #3085
Should be as simple as adding `cursor: pointer` on the anchor, although this has been a bit intermittent for me, so might be something a little hairier.

[2016-03-09 19:27] #3080 closed

[2016-03-09 21:37] mhjb opened #3088 "Arriving from search, thread scrolls to bottom"
I think it makes more sense for search results to imitate group page behaviour, where you're taken to the top of threads.

![image](https://cloud.githubusercontent.com/assets/1380991/13651248/67a4e7ec-e6ab-11e5-91c7-9f3f79ac3a02.png)

[2016-03-09 21:43] mhjb commented on #3088
Maybe scrolling is a bit broken at the mo? I click on a thread or proposal in Unread, and it don't scroll:

![](http://g.recordit.co/jiLfyRjbVu.gif)

[2016-03-09 21:46] gdpelican commented on #3088
It's a little slow (and we've had reports of some activity threads taking a bit to load), but it works for me.

Not sure I follow about search linking behaving differently than other types of links.

[2016-03-09 22:02] mhjb commented on #3088
It's actually kinda random for me. In the example in my second gif, I waited for ages and it didn't scroll down. Right now it is scrolling down properly.

Search — I'm almost always looking for a particular discussion (rather than one comment), and it feels weird to be landed at the bottom of the discussion, rather than up top, where I can see the context & proposal (if there is one).

[2016-03-09 22:17] mhjb commented on #3088
I wonder if good behaviour would be: if there's no unread content, stay at the top.

(It would also be great if when I manually scroll down the page, Loomio noticed and didn't do any auto scrolling. This would be particularly nice on my iphone 4, on which Loomio is slow, so there's a bit of scrolly weirdness for every interaction with a thread.)

[2016-03-10 00:20] HSalmon commented on #3060
The zh-TW translation doesn't seem to be live @gdpelican

[2016-03-10 00:36] robguthrie commented on #3060
I've done the stuff required in loomio-user-manual

On Thu, 10 Mar 2016 at 13:20 HSalmon <notifications@github.com> wrote:

[2016-03-10 02:04] alannallama opened #3093 "Threads showing as unread even if you've read them"
I’m experiencing an annoying bug where there’s a thread with unread activity on my dashboard (say [5]), so i click into the thread and read to the bottom. Then I go back to inbox and the same thread is there with a [1]. I click back into it and there’s no new content, but Loomio thinks the last comment (which I had just read) is still unread. So I have to look at it twice to clear it from Unread.

[2016-03-10 02:04] alannallama commented on #3093
Happened 3 or 4 times today. Not happening every time. Can't see a pattern.

[2016-03-10 21:40] gdpelican opened #3097 "Don't wait for read request to return"
@HSalmon there's a bug where we're not properly updating the last read sequence id when we read a discussion

Should be making sure that we update this as it happens, rather than waiting for the request to return

[code]

[2016-03-10 21:57] #3085 closed

[2016-03-10 21:57] #3060 closed

[2016-03-10 22:44] mhjb opened #3099 "Private / public threads in subgroup inconsistency"
When I started a closed subgroup of an open group, it said I'd be allowed private & public threads:

![image](https://cloud.githubusercontent.com/assets/1380991/13687007/bab05df4-e77d-11e5-8a7d-bca08b32cde1.png)

But then only private threads were allowed:
![image](https://cloud.githubusercontent.com/assets/1380991/13686986/a612e038-e77d-11e5-9fb6-33c8af5af20c.png)

Now that the subgroup is set up

[2016-03-11 02:57] #3097 closed

[2016-03-11 04:06] gdpelican commented on #3088
I think I prefer 'scroll to the last thing I read' always, although would be good to get some more user input.

Yes to cancelling autoscrolling if you interact with the page, also I'd love an easy keyboard shortcut to hop to the thread context. Also maybe making it more obvious that clicking on the lintel (or somewhere else) will take you to the context.

[2016-03-11 14:28] mlncn commented on #1698
It has been two days and the below e-mail to https://www.loomio.org/d/OGPs25cE/welcome-to-agaric still has not reached there:

Definitely was sent to the long @reply.loomio.org e-mail.  Was really excited to tell Chuck that replying from e-mail worked, too.  ;-)

[2016-03-11 20:54] mixmix opened #3102 "intermitent spanish"
this has been happening for me for a year now.
Loomio interfaces are **mostly** english, but occassionally they are spanish.

Here are two page loads 10 seconds apart. Same browser, same login.
This happens in the main app for me too

![selection_299](https://cloud.githubusercontent.com/assets/2665886/13715233/5ca0f096-e838-11e5-981b-8d8708f30894.png)
![selection_298](https://cloud.githubuserconte

[2016-03-11 21:44] rdbartlett opened #3103 "double "membership request approved" notification"
![image](https://cloud.githubusercontent.com/assets/970124/13716355/64aadeee-e83f-11e5-8d21-0626eee58ab0.png)

[2016-03-11 22:05] rdbartlett commented on #3103
also got double emails

![image](https://cloud.githubusercontent.com/assets/970124/13716815/426a3bba-e842-11e5-8bf4-ed7bb641f0ad.png)

[2016-03-13 01:59] alannallama opened #3104 "Unable to star thread"
I star it, but it doesn't stick. When I reload, or go look at my starred posts under 'recent', the thread is not starred.

Video: https://www.youtube.com/watch?v=GfxuRFksIjY

[2016-03-13 04:13] gdpelican commented on #3104
Fixed; will deploy soon. Thanks for the report!

[2016-03-13 04:13] #3104 closed

[2016-03-13 04:15] gdpelican commented on #3102
Hm, that's weird. How are you accessing that OAuth page via beta interface? Those views should only be present in the angular version, IIRC.

[2016-03-13 06:56] mixmix commented on #3102
I just put the url in in that demo app.
I get that Spanish experience in other places too though.

I'll keep an eye out for it in the future and document.

On Sun, 13 Mar 2016 17:15 James Kiesel <notifications@github.com> wrote:

[2016-03-13 20:19] gdpelican commented on #3099
Would you be willing to have a look at this one @robguthrie ?

[2016-03-13 21:38] mhjb opened #3107 "Open + request to join group lacks Request to Join button when logged out"
![image](https://cloud.githubusercontent.com/assets/1380991/13731551/db80f19c-e9d0-11e5-985a-f03dd6fc1974.png)

[2016-03-13 22:06] rdbartlett opened #3109 "Proposal closed should be a salient activity item"
"Proposals that have just ended should probably come up on your dashboard as unread if you haven't looked at them to see the result. I feel that "proposal ended" is a type of thread activity. Same with 'outcome published'."

[2016-03-13 22:12] rdbartlett commented on #3103
Test that the "approve" button disables on submit.

[2016-03-13 22:21] gdpelican commented on #3013
This is live now!

[2016-03-13 22:21] #3013 closed

[2016-03-13 23:56] mhjb opened #3110 "Shareable link endpoint should tell you what group you're about to join"
Seems like the heading should be (in this case): "Create an account to join Loomio Community"

![image](https://cloud.githubusercontent.com/assets/1380991/13732280/f84226bc-e9e3-11e5-8200-257988760131.png)

[2016-03-14 19:51] gdpelican commented on #3110
I think I'd like to kick this down the road to when we move the sign up page to angular, which isn't too far down the road.

[2016-03-14 19:51] gdpelican commented on #3103
I've put a disabled cover on the form in #3112

[2016-03-14 20:16] rdbartlett commented on #3110
Yep I will make sure there are tickets for all the entry points by the end
of
the week

On Tue, Mar 15, 2016 at 8:51 AM James Kiesel <notifications@github.com>
wrote:

[2016-03-14 23:50] #3027 closed

[2016-03-15 00:13] gdpelican commented on #3070
:green_apple: :yellow_heart: :red_circle: :black_large_square:

[2016-03-15 00:20] gdpelican commented on #3070
:green_apple: Whoa, I hadn't thought of doing it that way, nice!

[2016-03-15 00:21] gdpelican commented on #3070
Can't quite follow this bit :grey_question:

[2016-03-15 00:22] gdpelican commented on #3070
I think you could probably make it so you only need to call this in one place, rather than 3. :yellow_heart:

[2016-03-15 00:22] gdpelican commented on #3070
Hm, I'm pretty sure this gets called elsewhere, so we can't change the method signature like that :red_circle:

[2016-03-15 00:23] gdpelican commented on #3070
I think we've gone the wrong direction with this feature, it makes the codebase more confusing, and I want to shut it down. Thanks for your work on it! :black_large_square:

[2016-03-15 01:06] gdpelican commented on #3070
Couple little nit picks, but looks good! :green_apple:

[2016-03-15 01:07] gdpelican commented on #3070
Had some trouble smoking this, would love to take another look after the JS error gets fixed :recycle:

[2016-03-15 04:01] gdpelican commented on #2988
https://github.com/Ranks/emojione/issues/140

[2016-03-15 04:03] gdpelican commented on #2901
Is this still a thing?

[2016-03-15 04:08] gdpelican commented on #3110
Going to close this, we'll be sure to care of it in the angular iteration.

[2016-03-15 04:08] #3110 closed

[2016-03-15 18:06] toupeira commented on #3013
Cool, thanks!

[2016-03-15 19:09] rdbartlett opened #3116 "Thread context revision history not showing previous version"
On d/U49Wi3gH, someone has edited the discussion context accidentally (content is confidential). I want to revert it back to the original, but when I open the revision history, I only see the latest version, not the original. The original was posted 22nd October 2014, 1:10pm, if that helps.

[2016-03-15 19:14] rdbartlett commented on #3116
I reverted back to angular and found that the context actually had multiple revisions, which weren't showing up in beta.

[2016-03-15 19:15] rdbartlett commented on #3116
I tried to "restore this version" in beta, but got this:

![image](https://cloud.githubusercontent.com/assets/970124/13790859/3cfe29ec-eb4f-11e5-8b40-b960a098bc68.png)

[2016-03-15 19:17] rdbartlett commented on #3116
Errbit: http://errbit.loomio.org/apps/56ba953e316565000e000002/problems/56e85f376161390042000b2d

[2016-03-15 19:20] rdbartlett commented on #3116
I have updated the thread manually now, so we don't need to worry about this specific case. But we should fix the problem with revision histories :)

@HSalmon wanna take a look?

[2016-03-15 19:32] gdpelican commented on #3116
I wouldn't worry too much about fixing the update_version in beta, but we should get it so we're sure all of the versions are showing in angular.

Also is this a feature we need to port to angular before decomming beta? Seems useful, but not sure it's worth spending time on, especially given that it took this long for anyone to notice it's broken.

[2016-03-15 19:33] rdbartlett commented on #3116
Yeah update_version is useful but I wouldn't cry if we lost it. cut and paste works pretty well

[2016-03-15 20:19] mhjb opened #3117 "IHMO members page ought to list the coordinators first"
… so that in a group with heaps of members I can find out who the coordinators are without scrolling for miles.

[2016-03-15 20:29] rdbartlett commented on #3117
Let's use the [feedback form](https://docs.google.com/forms/d/1JS75ZdoBiA3k7IzxDPijV4kPh1fXrmWs9A8k_WG_pyE/viewform) for opinions and issues for defects.

[2016-03-15 20:33] mhjb commented on #3117
Fair enough. I had the feeling it used to work like that & this was a regression.

[2016-03-15 20:33] mhjb commented on #3117
Will put in feedback form.

[2016-03-15 20:34] #3117 closed

[2016-03-15 22:05] mhjb opened #3118 "Proposal closing soon vote count incorrect"
![image](https://cloud.githubusercontent.com/assets/1380991/13795659/032d444c-eb67-11e5-8dd1-25444678fd46.png)

[2016-03-16 01:17] gdpelican commented on #3118
Thanks. I'll put it on my list, but it's low priority at the moment.

[2016-03-16 01:32] gdpelican opened #3121 "Can try to mute threads on group page while logged out"
![screen shot 2016-03-16 at 2 30 50 pm](https://cloud.githubusercontent.com/assets/750477/13799391/bf32d532-eb83-11e5-80aa-bd193dac7f75.png)

Shouldn't display mute option if you're logged out (`!AbilityService.isLoggedIn()`)

I'll grab this one before the week unless you want to pick it up tomorrow @HSalmon

[2016-03-16 02:26] gdpelican commented on #3121
Scratch that, I'm going to grab this now because I want to do a couple quickies before the end of the day :)

[2016-03-16 02:39] gdpelican commented on #3121
#3122

[2016-03-16 02:40] gdpelican commented on #3107
#3112

[2016-03-16 02:41] gdpelican commented on #3011
#3115

[2016-03-16 21:57] mhjb opened #3123 "Page title wrong"
![image](https://cloud.githubusercontent.com/assets/1380991/13830003/0724ee4c-ec2f-11e5-9eda-e1c28fd53ba1.png)

[2016-03-16 22:06] gdpelican commented on #3123
Can't repro; is it always happening for this particular thread? Any additional info?

[2016-03-16 22:11] mhjb commented on #3123
First time I've noticed it. Here's
<https://www.loomio.org/d/d8nzaSEG/group-categories-we-d-love-your-input->
the thread. When I refresh the title is good again.

On 17 March 2016 at 11:06, James Kiesel <notifications@github.com> wrote:

[2016-03-16 22:13] gdpelican commented on #3123
Hm, yeah, I can't seem to repro this, either by navigating to it directly, from the group page, or search result... tried logged in and logged out.

Thanks for the report; I'm gonna close this because it's wee, but let me know if it crops up again.

[2016-03-16 22:13] #3123 closed

[2016-03-16 22:54] alannallama opened #3125 "Slack showing wrong user set proposal outcome"
I set all these outcomes on Loomio, and on the threads the outcome setting has my name next to it, but on Slack it’s showing as Silvia that took that action.

<img width="609" alt="screen shot 2016-03-17 at 10 33 14 am" src="https://cloud.githubusercontent.com/assets/5498878/13831215/df08609e-ec36-11e5-83f4-61ff08027020.png">

[2016-03-17 20:47] robguthrie commented on #3011
James can we put all this under a /static or something? I wonder about putting client under there as well.. so it's easy for people with a frontend proxy to mark stuff as forever cachable

[2016-03-18 01:01] gdpelican commented on #3011
I thought that was the point of /client?

[2016-03-20 22:28] gdpelican opened #3131 "CMD + Enter for submit form"
![screen shot 2016-03-21 at 11 27 37 am](https://cloud.githubusercontent.com/assets/750477/13907654/f0c7b3ce-ef57-11e5-938c-83021ff4f621.png)

[2016-03-21 07:19] mhjb opened #3132 "Ampersand trouble in group privacy notice"
![image](https://cloud.githubusercontent.com/assets/1380991/13912451/2714f5d2-efa2-11e5-9b12-a289eafae278.png)

[2016-03-21 22:24] natiloomio opened #3134 "intercome not showing deactivated user ID"
So far I noticed it in 1 user request out of 2 that asked for their account reactivated today.

[2016-03-21 22:36] natiloomio opened #3135 "parent group and subgroups shown on the group page"
it seems to fluctuate between showing me all the subgroups or just the ones I'm a member of. I think that the latest should be the right one to be shown to me on my groups page for easy access... ? any way, here are the screen shots:

![parent and subgroup](https://cloud.githubusercontent.com/assets/15793070/13936403/59d8ccb6-f022-11e5-90c8-881205911e32.png)
![parent and subgroup1](https://cloud.g

[2016-03-22 20:50] robguthrie opened #3142 "invitation email is only half translated"
![image](https://cloud.githubusercontent.com/assets/486367/13967523/8132ed0e-f0dc-11e5-9676-16bbba37f76a.png)

Nati added that as a user she would like to select what language her invitations will be in.

[2016-03-22 20:53] robguthrie opened #3143 "Setting proposal outcome is not marked as read"
Nati just set a proposal outcome and then saw an unread item on the thread.. she clicked it only to find out it was her proposal outcome!

[2016-03-22 20:58] #3011 closed

[2016-03-22 20:59] gdpelican commented on #3135
Yep, we know about this, a duplicate of #3009

I've reproed it, but don't have a fix yet. Silver lining is we're never showing subgroups that shouldn't be visible.

[2016-03-22 20:59] #3135 closed

[2016-03-22 21:02] gdpelican commented on #3143
I think we'll want to add 'create_outcome_event' and 'update_outcome_event' to the list of event bus events which are calling `author_thread_item!` (initializers/event_bus.rb#44)

[2016-03-22 22:03] robguthrie opened #3144 "I should be able to see www.loomio.org frontpage without logging out."

[2016-03-22 22:04] robguthrie opened #3145 "When I load a discussion but I am signed out, I should see something asking me to sign in to see the content."

[2016-03-22 22:04] robguthrie commented on #3145
right now it says "You don't have permission to do this" but it would be good if the app suggested you sign in to see the thing you're looking for.

[2016-03-23 01:31] mhjb opened #3146 "Can we have GA or Ahoy added to the help manual?"

[2016-03-23 02:30] robguthrie commented on #3146
yes

On Wed, 23 Mar 2016 at 14:31 mhjb <notifications@github.com> wrote:

[2016-03-23 02:37] gdpelican commented on #3144
This is taken care of in the loomio org plugin stuff I believe. I'll make sure there's a test for it.

[2016-03-23 03:31] robguthrie commented on #3146
it's tracked by GA now.

[2016-03-23 03:31] #3146 closed

[2016-03-23 03:57] mhjb commented on #3146
Oh thanks — soz — didn't look in the included scripts.
I can't find which GA property it's feeding. Oh now I can! Great :)
This calls for a Chart of Day!

[2016-03-23 14:46] alexykot commented on #3125
Confirming that.

**to reproduce:**
1. create thread
2. create proposal
3. close proposal, do not create proposal outcome
4. somebody else submits outcome to the closed proposal
5. in Slack the outcome is reported as created by you and not by the other person who actually have created it

**expected:**
In Slack it should give the name of the person who actually submitted the proposal outcome.

[2016-03-23 14:48] chaals opened #3147 "Would like a quick list of proposals I didn't vote on"
Where there are multiple threads and proposals, being able to split them out would be nice.

[2016-03-23 14:58] chaals opened #3148 "Proposal icon missing text alternative"
(related to #3147…)

The way I find out what proposals I haven't voted on is to look at unread messages and check the icon. It's in SVG (good!) but there is not text alternative. I suggest that at least putting in a `title` element would be nice. (SVG accessibility isn't a solved problem yet, but I'm working on it at least for things like this :( )

A [couple](http://svg-access-w3cg.github.io/svg-

[2016-03-23 14:59] chaals commented on #3147
This is a feature request, but I can't add labels...

[2016-03-23 23:08] robguthrie opened #3150 "clicking change email preferences from email takes me to beta interface even when I'm logged in"
It would be better if, when I'm logged in I was taken to the normal email preferences page, as this is the best one to use.

[2016-03-24 03:11] chaals opened #3153 "Email notifications missing text alternatives"
When email gets sent including images like (dis)agree icons, there are no text alternatives included. They should have an `alt` attribute…

(this is an accessibility bug)

[2016-03-24 04:04] #3121 closed

[2016-03-25 19:12] mhjb opened #3156 "Spot of bother on new email settings page"
![image](https://cloud.githubusercontent.com/assets/1380991/14051813/8035d16e-f32a-11e5-8364-b24aace7a04a.png)

[2016-03-28 00:22] rdbartlett commented on #3156
Also this is a bothersome spot.

![image](https://cloud.githubusercontent.com/assets/970124/14068697/092e8394-f4e8-11e5-9bf7-626da66f8b5e.png)

[2016-03-28 00:35] rdbartlett opened #3157 "Changing email settings for all groups doesn't seem to work"
In the "SETTINGS FOR SPECIFIC GROUPS" section on the email settings page:

When I click "Change default" and select "no emails" I expect to see the setting update on the email settings page. It still says "When you join a new group, you will be emailed about new threads and proposals." though.

When I click "Change default" and select "no emails" and check "apply this setting to all my groups", I

[2016-03-29 04:03] charlie-ablett opened #3160 "long mentions!"
Looks like nicknames that are too long get 'cut off' if they are longer than what the mention engine can tolerate? If you make a nickname more than 20 letters the last bit is not linked if you use it as a mention.

[2016-03-30 23:10] mhjb opened #3166 "Adblocker makes contact us do nothing"
![](http://g.recordit.co/TNiwZ4y1v0.gif)

When Adblocker is off, Contact Us goes to https://www.loomio.org//contact (note the double slash). I was expecting the Intercom widget.

[2016-03-30 23:14] mhjb opened #3167 "Not all discussions showing up in group I'm not a member of, until…"
When I visited the [translation subgroup](https://www.loomio.org/g/cpaM3Hsv/loomio-community-translation) earlier today, the most recent discussion that showed up was:

![image](https://cloud.githubusercontent.com/assets/1380991/14160616/dfd66e0e-f739-11e5-9bb9-463538f0c614.png)

When I scrolled to the bottom and clicked Show more, and scrolled back up to the top, a new, more recent discussion tur

[2016-03-30 23:16] mhjb opened #3168 "Open group I'm not a member of should show previous proposals panel"
![image](https://cloud.githubusercontent.com/assets/1380991/14160673/51e14da2-f73a-11e5-962f-00596ac6c3e4.png)

[2016-03-30 23:20] mhjb opened #3169 "Last proposal should be open when you arrive at a thread"

[2016-04-02 19:11] gdpelican commented on #3160
Thanks Charlie; this is another strike for ment.io, which I think we want to move off in favor of a more better (material-based?) mentioning engine.

[2016-04-02 19:15] gdpelican commented on #3167
Hm yeah I think the thread listings on the group page is pretty b0rked. I'll have a look soon.

[2016-04-03 20:49] rdbartlett opened #3173 "Vertical alignment of vote activity item"
![image](https://cloud.githubusercontent.com/assets/970124/14234864/1ce877e6-fa42-11e5-953e-4d73c9021acf.png)

I would expect the icon, name, and statement to all be vertically aligned

[2016-04-03 20:51] rdbartlett commented on #3173
This is an edge case: the width of the statement is small and it is multiple lines long. I wouldn't spend too much energy trying to fix it. Just wanted to register it here in case there is an easy fix

[2016-04-03 21:13] gdpelican commented on #3173
My guess is `vertical-align: top` on the div holding 'Name Obscured disagreed:'

[2016-04-03 21:14] gdpelican commented on #3166
That's really weird. Can confirm that adblock is affecting the behaviour for some reason.

[2016-04-03 21:16] gdpelican commented on #3148
Hey @chaals would you be able to provide a screenshot of which element you're talking about? The 'unread' tab on the navbar?

[2016-04-03 21:17] #3107 closed

[2016-04-03 21:17] #3103 closed

[2016-04-03 22:03] chaals commented on #3148
Yes, opening that tab, if I have unread stuff I can see the proposals and whether I voted on them or not.

[2016-04-03 23:14] robguthrie commented on #3166
It's a really tough problem to work around adblocker here. I've spent days
on this in the past, and don't support just hammering harder as a solution.
It's a tough problem and would like to have a chat with Matthew about
solutions before we do anything.

On Mon, 4 Apr 2016 at 09:14 James Kiesel <notifications@github.com> wrote:

[2016-04-04 19:53] rdbartlett opened #3174 "Opening a link from an email notification should ask me to log in"
If I am not logged in
And I click a link from my 'Yesterday on Loomio' email
Then I should be asked to log in (or logged in automatically?)

Right now I get "You do not have permission to do this"

![image](https://cloud.githubusercontent.com/assets/970124/14261119/6069f5e6-fb03-11e5-8860-56d1691944c6.png)

[2016-04-04 21:20] rdbartlett opened #3175 "Slow email delivery"
I got a "proposal started" email today at 8:50am, regarding a proposal that was started 2 days ago. (Proposal key `MgusQlGz`)

[2016-04-04 23:20] #3156 closed

[2016-04-04 23:20] #3157 closed

[2016-04-04 23:55] HSalmon commented on #1848
Done!

[2016-04-04 23:55] #1848 closed

[2016-04-04 23:55] #3109 closed

[2016-04-04 23:55] HSalmon opened #3177 "Ensure salient items live update properly"

[2016-04-04 23:56] gdpelican commented on #3169
Hrm, seems like a regression at some point. I'll take this one at some point.

[2016-04-04 23:56] gdpelican commented on #3168
#3172

[2016-04-04 23:57] gdpelican commented on #3174
I want to design this flow, and I want to push for logging in / signing up within the angular app for this quarter.

[2016-04-04 23:58] gdpelican commented on #3153
@mhjb Would you feel up to this one?

[2016-04-04 23:59] #3144 closed

[2016-04-04 23:59] gdpelican commented on #3144
You can now reach it by going to `/marketing` in app

[2016-04-05 00:00] gdpelican commented on #3125
Seems like something @HSalmon could pick up at her leisure.

[2016-04-05 00:01] gdpelican commented on #3093
#3127

[2016-04-05 00:28] mhjb commented on #3153
sure!

[2016-04-05 00:28] mhjb commented on #3153
Great noticing, @chaals!

[2016-04-05 01:16] chaals commented on #3153
It's one of those things I'm *meant* to notice :)

If W3C keeps using Loomio, I expect to chase a few more edge cases I noticed. Although I'm also impressed that by and large the accessibility is pretty good - so thank you.

[2016-04-05 03:26] mhjb opened #3178 "Trial expired modal not appearing for group coordinators"

[2016-04-05 06:46] gdpelican opened #3180 "Unvoted icon seems a bit munted on thread preview"
![screen shot 2016-04-05 at 6 45 29 pm](https://cloud.githubusercontent.com/assets/750477/14273409/a196acde-fb5e-11e5-8b6e-f013fe5c03f3.png)

[2016-04-05 19:46] gdpelican commented on #3131
#3181

[2016-04-05 21:23] HSalmon commented on #3134
@natiloomio, do you reckon this is still a problem? Or was there another reason Intercom didn't display the user details for that particular user?

[2016-04-05 21:59] natiloomio commented on #3134
I haven't see that problem again yet.

[2016-04-05 22:01] HSalmon commented on #3134
Ok, do you mind if I close this issue for now, and we can reopen it if we encounter it again?

[2016-04-05 22:30] natiloomio commented on #3134
sure!

On 6 April 2016 at 10:03, HSalmon <notifications@github.com> wrote:

[2016-04-05 22:35] #3134 closed

[2016-04-06 05:11] gdpelican commented on #3180
#3183

[2016-04-06 05:13] #3180 closed

[2016-04-06 23:15] rdbartlett opened #3184 "Proposal drafts"
I wrote a proposal in Thread A, clicked cancel, then clicked Start proposal again but the draft was not saved so the proposal modal was empty. So I shrugged and rewrote the proposal from memory and clicked Start.

I thought maybe the draft hadn't saved because I'd lost my network connection, so I reloaded the app. Then I navigated to Thread B (in the same group), and clicked 'start proposal' over

[2016-04-06 23:38] mhjb opened #3186 "loomio.org/translation link to wiki needs updating"
to https://github.com/loomio/loomio/tree/master/docs/en/translation

I'd do it but I can't find that page in the repo

[2016-04-07 19:59] rdbartlett commented on #3175
Closing because I think this is fixed now the mail server has warmed up.

[2016-04-07 19:59] #3175 closed

[2016-04-08 00:12] gdpelican opened #3189 "Title of marketing page isn't being properly set"
![screen shot 2016-04-08 at 12 11 53 pm](https://cloud.githubusercontent.com/assets/750477/14370522/1eb84486-fd83-11e5-9d0a-a4963e409c5b.png)

[2016-04-08 00:14] gdpelican commented on #3184
Can't seem to repro this

Proposal drafts should work the same as any of the other drafts; we save them to the discussion they're associated with, then load em up once you open the modal again.

Any reliable repro steps?

[2016-04-08 02:50] alannallama opened #3191 "Proposal showing "invalid date""
<img width="468" alt="screen shot 2016-04-07 at 12 03 54 pm" src="https://cloud.githubusercontent.com/assets/5498878/14372885/d3d5fc9a-fd98-11e5-8932-f59b5203513c.png">

This doesn't seem to be happening on other proposals. If it's relevant, I manually closed this instead of waiting for the pre-set time to roll around. It doesn't show 'invalid' when the proposal is in the expanded view - I only sa

[2016-04-08 03:06] gordonrs opened #3192 "Completely Disable / Remove Angular UI?"
Hey folks, I'm wondering if it's possible to completely disable or remove the Angular UI without much pain for our own install? We really don't want to have to deal with the additional headache of anything to do with Node at all in any part of our system. I know we can disable per user, so that's not what I'm asking.

Is this something that the devs have considered for folks with their own install

[2016-04-08 03:35] robguthrie commented on #3192
Hi Gordon. We're just days away from completely removing the Rails MVC
based interface, so that we can move more quickly with the Angular UI. If
it's a system admin hassle then I would recommend you use the docker
container based deployment approach outlined in loomio/loomio-deploy. All
the dependencies are managed you you in this case. I would appreciate it if
you could let me know how you go usi

[2016-04-08 04:36] gordonrs commented on #3192
Hi Rob, thanks for getting back to me.

Sorry to hear you folks are getting rid of the Rails MVC interface, that's unfortunate. It's not so much an administration hassle as it is a potential security and auditing nightmare, not to mention a PITA to debug when something goes wrong. Considering that I have what some might term extreme requirements on that front due to it being used for a political p

[2016-04-08 05:01] #3192 closed

[2016-04-10 22:03] #3186 closed

[2016-04-10 22:05] gdpelican commented on #3102
Closing this as I don't believe we have this problem in the angular interface.

[2016-04-10 22:05] #3102 closed

[2016-04-11 00:44] HSalmon opened #3193 "Intercom not showing information for deactivated users"

[2016-04-12 03:20] gdpelican commented on #3189
I've fixed this in the loomio_org_plugin repo, and it will go live with the next push

[2016-04-12 03:20] #3189 closed

[2016-04-12 03:40] robguthrie commented on #3189
why is the word marketing in the url?

On Tue, 12 Apr 2016 at 15:20 James Kiesel <notifications@github.com> wrote:

[2016-04-12 03:46] gdpelican commented on #3189
When you navigate to root, we either redirect you to `/marketing` if you're logged out, or `/dashboard` if you're logged in. This allows you to get to the marketing page manually even while you're logged in if you want to (otherwise it gets swallowed by a `/dashboard` redirect)

At  some point I'd like to host these kinds of landing pages 100% statically with a Jekyll or something, and separate fr

[2016-04-12 04:02] robguthrie commented on #3189
Sorry but I don't think that's be behaviour we were expecting. We want to
remove the redirect to dashboard from root. So there is no /marketing. And
when you are logged in, the Login link changes to "Your Dashboard".

On Tue, 12 Apr 2016 at 15:46 James Kiesel <notifications@github.com> wrote:

[2016-04-12 04:12] gdpelican commented on #3189
nooooo, please don't make everyone trudge through the marketing page every time they visit loomio.org. None of the major platforms do this, in fact I have no idea what the landing pages for facebook, github, trello, heroku, twitter,  even look like. What's the rationale for showing logged in users the marketing page?

[2016-04-12 05:07] alannallama opened #3203 "Unable to set proposal outcome"
I click 'set outcome' on a recently closed proposal and the modal pops up. I type in the message and click 'publish outcome'. The 'loading' circle spins for a moment, but nothing happens. I press 'publish outcome again' - same thing. I tried on Chrome and Firefox - same thing.

[2016-04-12 05:26] robguthrie commented on #3189
They do it on intercom and digitalocean and other places. This is something
that Ben and others are interested in, so we might have to discuss it more
broadly.

On Tue, 12 Apr 2016 at 16:12 James Kiesel <notifications@github.com> wrote:

[2016-04-12 21:17] gdpelican commented on #3203
Hrm @alannallama I just added an outcome to that proposal. Could this be some sort of disconnect between ‘the proposal is closed, but the closing proposal job hasn’t run yet’ @robguthrie ?

[2016-04-12 22:08] robguthrie commented on #3203
@gdpelican I don't think so. Looks like there is very little validation on the "create_outcome" service method. No mention of closed or closing_at in that path that I can see.

I think that we should prioritise tracking client side errors, at least then we'd have a better chance of knowing if it was a backend or frontend issue.

[2016-04-14 23:56] natiloomio opened #3208 "link to the wrong locale on the Help card articles"
for .es and .fr link have been changed in transifex but it still links to the english version on the blog

[2016-04-15 19:20] toupeira commented on #3203
Just ran into the same issue, the server responds with 422 Unprocessable Entity and this JSON response:

[code]

In my case it was indeed because the `loomio:close_lapsed_motions` cronjob didn't run, as I missed that part in the docs and had not set it up yet.

[2016-04-16 03:13] gdpelican commented on #3203
@robguthrie Does the closedOrClosingAt referenced above take care of this one as well?

[2016-04-16 04:14] robguthrie commented on #3203
I'll look into it now.

On Sat, 16 Apr 2016 at 15:13 James Kiesel <notifications@github.com> wrote:

[2016-04-16 22:55] fauno opened #3211 "exceptions on angular"
hi there, i've been busy so we got behind on pulling changes :(

we're getting angular exceptions on the console while using the new gui, for instance "TypeError: $scope.translation is undefined" or "LoomioApp exception: Error: [$compile:tplrt] Template for directive 'startMenuOption' must have exactly one root element. generated/components/start_menu/start_menu_option.html"

we ran `npm install`

[2016-04-16 23:40] gdpelican commented on #3211
Hey @fauno would you be willing to point me to the repo you're using if it's open source? I can see where those errors would be thrown, but without knowing what changes you have in there it'll be difficult to diagnose.

[2016-04-16 23:43] fauno commented on #3211
sure, it's https://github.com/piratas-ar/loomio, the piratas branch has our changes but the master follows yours

[2016-04-18 02:19] #3203 closed

[2016-04-18 04:57] mhjb opened #3214 "Broken images in emails"
Looks like
![image](https://cloud.githubusercontent.com/assets/1380991/14594082/93115b82-0586-11e6-9d84-30c533b6952f.png)

Image link looks like https://ci3.googleusercontent.com/proxy…#http:///img/abstain-24.png

[2016-04-18 20:10] mhjb opened #3217 "Email preferences link goes to unhelpful page"
I was getting emails on all activity for this discussion (I must have set it to All Activity at some point)

![image](https://cloud.githubusercontent.com/assets/1380991/14618197/80ed9b6c-0605-11e6-8dc0-bec33e8239f6.png)

I clicked the email preferences link hoping to be able to unsubscribe, but there is no option on the page that will affect whether or not I get emails like that:
![image](https://

[2016-04-18 20:12] gdpelican commented on #3217
There's already a PR open for this: #3198

[2016-04-19 00:14] rdbartlett opened #3218 "I got a permission denied error when following the "user has requested to join group" notification"
![image](https://cloud.githubusercontent.com/assets/970124/14623646/3cb3df92-0628-11e6-84a0-9419eda57e84.png)

[2016-04-19 00:15] rdbartlett opened #3219 "I've seen the welcome modal on this group three times now"
Group dTUk3SJm

![image](https://cloud.githubusercontent.com/assets/970124/14623656/53e769d6-0628-11e6-91a1-5d789a0df888.png)

[2016-04-19 00:46] mhjb opened #3220 "Start group form auto focus should be H1 but is whole modal"
![image](https://cloud.githubusercontent.com/assets/1380991/14624186/9b8f2c84-062c-11e6-9ee0-dc6d0a5d6ee9.png)

ditto at least Start Thread modal

[2016-04-19 22:51] HSalmon commented on #3218
Is it possible you logged out in another tab @rdbartlett?

[2016-04-20 00:12] HSalmon commented on #2901
This has been happening again for me, just with one group (although I've only muted one group), and it's only proposal closing soon emails

[2016-04-20 00:13] HSalmon commented on #3099
Is this still an issue @mhjb?

[2016-04-20 00:17] mhjb commented on #3099
No!

[2016-04-20 00:17] #3099 closed

[2016-04-20 00:23] HSalmon commented on #2747
FYI, [here](https://www.loomio.org/d/CeMFoapG/ux-engaging-people-with-notification-emails-without-overwhelming-them-with-noise) is the Loomio discussion in which we sought feedback from the Loomio community group about changes to email settings. We've just recently implemented the next iteration :)

[2016-04-20 00:23] #2747 closed

[2016-04-20 01:02] rdbartlett opened #3224 "Update FAQ to explain what happens when you remove a user from a group"
Chatting with Charley from Enspiral:

"CD: when you remove a member from Loomio, do all of their comments / discussion remain in all the threads etc.?

RB: yep, there no change to the threads, just they lose access

CD: cool, good to know! You should put it in the FAQ's (i guess it seems obvious, but as a tyrant admin we need to know these details)"

[2016-04-20 01:55] HSalmon commented on #3224
Should it go in the FAQ, or in the "Coordinating your group" section, which is where the adding/removing members information is?

[2016-04-20 02:03] rdbartlett commented on #3224
I don't have an opinion :)

On Wed, Apr 20, 2016 at 1:55 PM HSalmon <notifications@github.com> wrote:

[2016-04-20 02:17] mhjb opened #3227 "You can't tell from looking at the context panel when it's been updated"
![image](https://cloud.githubusercontent.com/assets/1380991/14661513/4cfa423a-0702-11e6-92a1-7b5b1f6ebd8b.png)

In this long discussion I was looking for an up-to-date summary. It turned out that the context panel had recently been updated, but I couldn't tell that by looking at it — it just tells me Rob started it 7 months ago. I think it might be more useful to roughly follow the format of the e

[2016-04-20 02:23] HSalmon commented on #3227
You can see it in the revision history modal (and as a thread activity item in the thread), but you think it would be better to have it as part of the context panel?

[2016-04-20 02:29] mhjb commented on #3227
Yeah — I think an updated context panel is usually a really significant event in a discussion thread. And particularly in a massive one like this, any individual activity item gets lost / is hard to find.

[2016-04-20 02:31] gdpelican opened #3229 "Seeing an thread that's unread, with no new activity"
![screen shot 2016-04-20 at 2 30 31 pm](https://cloud.githubusercontent.com/assets/750477/14661787/9a3ac022-0704-11e6-98a3-64988f06f40d.png)
![screen shot 2016-04-20 at 2 30 35 pm](https://cloud.githubusercontent.com/assets/750477/14661786/9a374712-0704-11e6-87be-9461c5a4d875.png)

[2016-04-20 02:40] alannallama commented on #3093
This seems to have come back after a while of disappearing as an issue... Now it's looking a bit different.

It’s doing that thing where I view content but it doesn’t disappear from my unread list. This time it’s not just a (1) that sticks there, but (5) or however many activities there were before I loaded the thread.

loaded same discussion a few times and still stuck in unread

just went into t

[2016-04-20 02:51] HSalmon commented on #3173
This is one fix:
<img width="434" alt="screen shot 2016-04-20 at 2 50 28 pm" src="https://cloud.githubusercontent.com/assets/2882097/14662117/5778aa12-0707-11e6-9596-90736a4d0d0a.png">

But would it be better to strip out new lines?

[2016-04-20 02:56] rdbartlett commented on #3173
I think that fix looks fine, I don't think we should strip new lines unless
we're sure we want to.

On Wed, Apr 20, 2016 at 2:51 PM HSalmon <notifications@github.com> wrote:

[2016-04-20 02:57] HSalmon commented on #3173
Cool, PR over here: https://github.com/loomio/loomio/pull/3230

[2016-04-20 04:06] HSalmon commented on #3227
The way I'm currently thinking about this means that it’s hard to make the whole line of text a link, seeing as it is actually a button, and we need to use a directive to format the date properly. Do you have thoughts as to how to solve this @gdpelican, @robguthrie? Apologies if the solution is staring me in the face...

[2016-04-20 04:28] alannallama opened #3235 "reply by email comment showing quoted text"
Example here:

https://www.loomio.org/d/bHflPwtR/comment/984372

[2016-04-20 05:00] mhjb commented on #3227
How about like this:

![image](https://cloud.githubusercontent.com/assets/1380991/14663854/4b866cc8-0719-11e6-81fe-d16ec7fccd2a.png)

[2016-04-20 05:03] mhjb commented on #3235
Loomio needs to see two dashes on a line by themselves to know that a signature is coming up and strip it out.

[2016-04-20 05:07] mhjb opened #3236 "Starred thread not showing as starred on thread page"
https://www.loomio.org/d/en67cwpd/getting-into-the-product-with-no-group

![image](https://cloud.githubusercontent.com/assets/1380991/14663954/4c3c184c-071a-11e6-8663-a2b078ae3017.png)

![image](https://cloud.githubusercontent.com/assets/1380991/14663950/45da67e2-071a-11e6-9966-2e5299121d69.png)

[2016-04-20 21:36] mhjb commented on #3168
When I first arrived at https://www.loomio.org/g/NohQxyr9/nzgoal-software-extension-discussion-of-draft (not as a member), I didn't see the Previous Proposals panel. I joined the group, browsed around a bit, then left the group. Then I browsed some more, and happened to notice a [discussion](https://www.loomio.org/d/54Vxapcb/status-of-gpl-in-govt-software-projects) that had a previous proposal.  W

[2016-04-20 22:40] robguthrie commented on #3168
we've seen this inconsistent behaviour in the tests too.. There is a race
condition going on somewhere

On Thu, 21 Apr 2016 at 09:36 mhjb <notifications@github.com> wrote:

[2016-04-20 23:07] HSalmon opened #3239 "Users being emailed about example content"

[2016-04-20 23:30] #3214 closed

[2016-04-20 23:34] gdpelican commented on #3224
I've opened this in user-manual: https://github.com/loomio/user-manual/issues/28

[2016-04-20 23:34] #3224 closed

[2016-04-20 23:34] #3217 closed

[2016-04-20 23:34] HSalmon commented on #3208
Sorry Nati, I think I misled you by accident. It looks like the links are hardcoded, I can update this today!

[2016-04-20 23:35] gdpelican commented on #3219
This is one for the Experiences bucket. Putting it under feature.

[2016-04-20 23:36] #3173 closed

[2016-04-20 23:37] gdpelican commented on #3191
#3204

[2016-04-20 23:37] #3191 closed

[2016-04-20 23:38] #3178 closed

[2016-04-20 23:39] gdpelican commented on #3220
What's the negative effect of this? Could we get an accessibility person to confirm this should change?

[2016-04-20 23:41] mhjb commented on #3220
I understand it means screen readers won't read out the modal title when it opens. @rdbartlett will know more than me.

Do we have some accessibility guidelines published somewhere?

[2016-04-21 01:06] mhjb opened #3243 "Previous proposals dates / order incorrect"
![image](https://cloud.githubusercontent.com/assets/1380991/14694962/af1e9956-07c1-11e6-8c45-e7c57cc334cf.png)

E.g. the first proposal actually closed 17 days ago. When I clicked it, it resorted itself down the page:

![image](https://cloud.githubusercontent.com/assets/1380991/14694984/d0233396-07c1-11e6-861c-4300c1f60bd2.png)

[2016-04-21 01:30] #3143 closed

[2016-04-21 02:51] mdshearer commented on #3093
Me too! Can't seem to get rid of these threads!

[2016-04-21 03:12] HSalmon commented on #3236
I'm kinda stumped...

[2016-04-21 04:13] #3243 closed

[2016-04-21 04:19] HSalmon commented on #3208
I think we've fixed this now @natiloomio!

[2016-04-21 04:19] #3208 closed

[2016-04-21 06:25] gdpelican commented on #3211
I'm going to take a quick peek at this tonight. <3

[2016-04-21 09:27] gdpelican commented on #3211
Hm, I've had a spin with this, and can't seem to reproduce the errors you're describing.

The 'template for directive startMenuOption' error would come about if the template in `angular/core/components/start_menu_option/start_menu_option.haml` were modified to have a pair of elements at the root, rather than the `%button`:
[code]

`$scope.translation is undefined` would come about in `angular/core

[2016-04-21 10:11] #3150 closed

[2016-04-21 10:12] gdpelican commented on #3142
Fixed in #3240

[2016-04-21 10:12] #3142 closed

[2016-04-21 10:12] #3131 closed

[2016-04-21 10:14] gdpelican commented on #3211
Closing this for now, but do let me know your experience; I want to keep third party installs like yourself as happy as possible as we move toward all angular, all the time.

[2016-04-21 10:14] #3211 closed

[2016-04-21 12:55] fauno commented on #3211
i'll try with nodejs 4, thanks!

--
 D

[2016-04-21 20:26] mhjb opened #3254 "Admin area erroring"
with "We're sorry, but something went wrong…"

[2016-04-21 20:41] gdpelican commented on #3254
Would you mind grabbing this one @mhjb or @HSalmon ? Need to remove line 31 of `app/admin/groups.rb`, `scope :visible_on_explore_front_page`

[2016-04-21 21:06] HSalmon commented on #3254
Can do!

[2016-04-21 22:07] rdbartlett opened #3256 "No error message when trying to start invalid proposal"
I set the closing time for 7 hours ago so the form won't submit, but I get no error message:

![image](https://cloud.githubusercontent.com/assets/970124/14725773/092da990-0872-11e6-8dd5-cc165e04f451.png)

[2016-04-21 22:38] gdpelican commented on #3256
I believe this error comes back correctly through the client side, so I think the fix here is to add something like

[code]
around the closing at field.

[2016-04-21 23:08] gdpelican commented on #3168
This was a bug where open groups were showing proposals, but closed groups with public content weren't. Now fixed #3241

[2016-04-22 02:23] #3254 closed

[2016-04-22 07:01] #3256 closed

[2016-04-22 08:26] mhjb commented on #3227
Relevant conversation happening in another Enspiral thread:

![image](https://cloud.githubusercontent.com/assets/1380991/14735985/4ee92242-08c8-11e6-9d77-a41d9913939d.png)

@alannallama does your facilitators' paradise vision touch on this?

[2016-04-25 06:12] uportalis opened #3260 "MS Outlook freezes due to incorrect emojione URL"
Hi all

Here is an emojione URL used in loomio's e-mails:
src="//cdn.jsdelivr.net/emojione/assets/png/1f603.png?v=2.1.3"

As you can see, the prefix "http:" is missing.
Due to this, Outlook tries to connect to \\\cdn.jsdelivr.net\emojione\assets\png which fails after several seconds freeze.
I'm not sure how other e-mail clients would handle this incorrect URL.

Rgds,
Louis

[2016-04-25 10:59] gdpelican opened #3262 "Irrelevant notifications open proposal outcome modal"
Recently, we put in a change to allow users who clicked on 'proposal has closed' notifications to open the Create Proposal Outcome modal.

However, I'm seeing the modal appear when I click on an entirely unrelated notification

Something for you to pick up at some point @HSalmon ?

http://g.recordit.co/aLezdWC6Xu.gif

[2016-04-25 11:00] gdpelican commented on #3260
Good catch. I'll put this one on my list.

We should be serving those images from the Loomio server anyhow, so this is a missing piece from #3115

[2016-04-25 23:32] mhjb opened #3264 "I can't tell when Loomio is disconnected from the server"
… so Loomio behaves weirdly (e.g. threads with 0 unread staying in Unread page), until I hit refresh

[2016-04-26 02:25] alannallama commented on #3229
<img width="618" alt="screen shot 2016-04-26 at 2 24 06 pm" src="https://cloud.githubusercontent.com/assets/5498878/14804808/9f0a761e-0bba-11e6-84b8-c7c1f4694e6e.png">

Happening for me, too. Seems related to the "read items not disappearing from unread" issue.

[2016-04-26 02:26] robguthrie commented on #3229
Thanks. We're going to fix this after beta is removed.

On Tue, 26 Apr 2016 at 14:25 Alanna <notifications@github.com> wrote:

[2016-04-26 02:53] mhjb opened #3265 "Gift plan card remains after setting up a subscription"
… until I refresh the page

![image](https://cloud.githubusercontent.com/assets/1380991/14805282/9c20c800-0bbe-11e6-80c2-73510151c506.png)

[2016-04-26 05:19] HSalmon commented on #3262
Can do!

[2016-04-26 05:43] gdpelican commented on #3125
I've spent some time today rewriting the serialization logic for the loomio_webhooks plugin to allow it to handle arbitrary json payloads to arbitrary endpoints (which is what 'webhooks' actually implies 🎉 )

I'll grab this one as a side project over the next few days.

[2016-04-26 05:43] gdpelican commented on #3265
That implies the webhook isn't pinging Loomio correctly. I wonder if our endpoint over there has gotten messed up somehow.

[2016-04-26 05:45] gdpelican commented on #3264
This will be wrapped up in the mobile app work, and is definitely on the list.

Going to close, as I feel it's a little to broad for someone to work on as an issue.

[2016-04-26 05:45] #3264 closed

[2016-04-26 05:45] gdpelican commented on #3193
Is this still an issue? Are there some repro steps or prod examples?

[2016-04-26 08:07] mhjb commented on #3265
FYI the subscription record for that group was correctly updated

[2016-04-26 20:59] gdpelican commented on #3169
Well, I haven't done this yet. Maybe you could grab it @HSalmon ?